[2019-06-10 11:25] hasezoey commented on #299
Have you already checked [README#plugin](https://github.com/szokodiakos/typegoose#plugin)?

[2019-06-10 11:28] Santinell commented on #299
Yes, but plugin don't extend `BasePropOptions` of Typegoose

[2019-06-10 11:50] hasezoey commented on #299
for me it just works (with the `// @ts-ignore` "workaround")

Code:
[code]

output:
[code]

[2019-06-10 12:28] Santinell commented on #299
Oh, big thanks!
I didn't expect that it's enough to add `// @ts-ignore` to make it work

[2019-06-10 12:28] #299 closed

[2019-06-12 08:45] ChrisLahaye opened #301 "arrayProp default"
Hello,

According to mongoose documentation an array is always initialized as an empty array unless specified. This behavior can be overwritten by using the default `default: (): any => null` although this does not seem to work in typegoose.

[code]

How can I initialize an array as undefined?

Thank you

[2019-06-12 08:54] hasezoey commented on #301
is #296 Related?

[2019-06-12 09:00] hasezoey commented on #301
otherwise, why would you want to make an array "undefined" / "null"?

anyway, i made an example below, but because "undefined" / "null" is not normal to use, you must make your own validation for this type:
[code]

[2019-06-12 10:11] ChrisLahaye commented on #301
Thank you for your reply!

Not sure if #296 is related. In his case, I think he has to wrap the default value into a function.

The whole idea of NoSQL is to permit dynamic schemas. We prefer fields to be undefined/missing if they are not applicable to the document. Besides, null/defined are perfectly legit values as they have their own semantic meaning, similarly as NULL does in SQL.

It seems li

[2019-06-12 10:17] ChrisLahaye commented on #301
[code]

[code]

See the empty array

[2019-06-12 10:30] hasezoey commented on #301
also from what i have tested, this works:
(Note: removed the required tag, then it is not there anymore)
[code]

[2019-06-12 11:13] ChrisLahaye commented on #301
Your example gives me:

[code]

[2019-06-12 11:21] hasezoey commented on #301
sorry, try [this version of typegoose](https://gitlab.com/hasezoey/typegoose)
it implements some fixes

[2019-06-12 22:33] jaym910 commented on #143
I'm getting the same exact issue as well. Any fixes??

[2019-06-13 01:11] HorizonShadow commented on #143
Using classes for references is a common problem with ORMs. The solution is to use a string representation of the model.

Just modifying @Yackbz's post...

[code]

[2019-06-13 07:48] ChrisLahaye commented on #301
@hasezoey there it works. Do you plan on contributing the respective commit here?

[2019-06-13 07:54] hasezoey commented on #301
@ChrisLahaye i think not, because my (gitlab) version consists mostly of pull requests (i dont know wich one solved this here) and has a test rewrite + coding style "rewrite", and i dont think that i can so commit this here,

maybe @Ben305 could take a look at it, and decide if it would be ok

[2019-06-13 13:33] Paic commented on #121
---

This allow access to `user._id`, but `JSON.stringify(user)` is still missing `_id`. Am I doing something wrong ?

[2019-06-13 13:40] hasezoey commented on #121
@Paic is there a value without `_`? (also just `id`)

[2019-06-13 14:04] Paic commented on #121
Typescript is complaining because it is not defined in the schema, but `id` is accessible with `user.id`.

`JSON.stringify(user)` is missing both `_id` and `id`. Adding `id: Types.ObjectId` did not do it either.

By enabling virtuals in the toJSON options :
[code]

The stringified `user` does have the `id` property (no `_id` of course).

[2019-06-13 17:20] hennessyevan opened #303 "Middleware regex patterns"
Mongoose supports regex in middleware hooks. Typegoose should as well.

Should allow
[code]

SEE: https://mongoosejs.com/docs/api.html#schema_Schema-post & https://mongoosejs.com/docs/api.html#schema_Schema-pre

If it's as simple as adding the `RegExp` type to pre and post, let me know; I'll be more than happy to open a PR

[2019-06-13 17:59] #296 closed

[2019-06-13 17:59] #301 closed

[2019-06-14 08:46] ChrisLahaye commented on #177
Use the index decorator, its in the docs

[2019-06-15 16:31] Tobjoern opened #305 "How to get access to static methods?"
Hi there!
I do not understand how to get access to static methods. I have the following schema:

`class User extends Typegoose {
       ...
       @staticMethod
    async findByCredentials(this: ModelType<User> & typeof User, email: string, password: string) {
         ...
    }
}
`

I want to use the static function 'findByCredentials' in my fastify route, but even though the method is defined wh

[2019-06-15 16:38] hasezoey commented on #305
[README#staticMethod](https://github.com/szokodiakos/typegoose#staticmethod)?

full dummy example:
[code]

PS: you might be missing the `static` "prefix"

[2019-06-15 16:40] hasezoey commented on #305
[README#staticMethod](https://github.com/szokodiakos/typegoose#staticmethod)?

anyway, here is a full dummy example:
[code]

PS: you might be missing the `static` "prefix"

[2019-06-15 17:30] Tobjoern commented on #305
I feel quite stupid right now, I totally missed the 'static' keyword! Sorry for the inconvenience!

[2019-06-15 17:30] #305 closed

[2019-06-17 23:58] Drageaux commented on #227
`schemaOptions` work for the top level doc only. When I queried the whole thing with embedded, schemaOptions like `_id: false` does not apply to the returned children object. This happens EVEN IF I set schemaOptions for the embedded classes

@hasezoey do you mind looking into this?

[code]

[2019-06-18 05:23] gentleShark commented on #143
@HorizonShadow thanks for the suggestion but passing itemsRef an a object with a name property assigned the Typegoose class as a string didn't work.
@spyter the problem persists in my case regardless of barrel imports or directly from source file

[2019-06-18 07:34] hasezoey commented on #227
@Drageaux first some things before i can answer: what is(when from typegoose, the imports would be good to know) `@Field`, `@ObjectType`, and what from these two do you want to embed | what is child, what is parent?

[2019-06-18 13:11] HorizonShadow commented on #143
@gentleShark Right. The problem is that you're using a class as a reference before it exists.

If A has a reference to B, and B has a reference to A, then either A or B isn't going to exist when creating the class.

I'm referencing by name as the default for all my reference and it works like a treat.

[2019-06-22 11:49] haezl opened #307 "using subdocuments causes "TypeError: Type is not a constructor""
Having two models, one as subdocument of the other, and both extend Typegoose the error is raised as soon as one tries to create an instance of the subdocument. However, using refrences, the code is working properly.

Comment Model:
[code]

Post Model:
[code]

Trying to add a comment to a post results in the Error: **TypeError: Type is not a constructor**
[code]

However, when Comment is used as a

[2019-06-22 13:32] haezl commented on #307
I took a look into the source code, the error was raised by https://github.com/szokodiakos/typegoose/blob/master/src/prop.ts#L165

This seems kind of a workaround for me to get it working:

Updating the Post Model to use ObjectType instead of Comment
[code]

(Optionally) refactoring the Comment model to not extend Typegoose anymore:
[code]

Pushing the document directly, without instanciating a co

[2019-06-22 13:40] hasezoey commented on #307
as far as i can tell, a subdocument shouldnt be an extend of Typegoose, but it shouldnt be an issue to still do it...
i will look into it

[2019-06-22 14:08] hasezoey commented on #307
i dont know if this solves your issue, but i made an example
but it [requires this](https://gitlab.com/hasezoey/typegoose) because there are more fixes already implemented

[code]

[2019-06-22 16:26] haezl commented on #307
Thanks a lot @hasezoey

I've also got it working now with references

[code]

@hasezoey Do you also maintain the `typegoose` npm package?

[2019-06-22 16:30] hasezoey commented on #307
no, im not a maintainer of this, otherwise i wouldn't have created another repo

@szokodiakos is the repo owner
and @Ben305 is the one who currently maintains it
and mine, is just a fork, with some pull requests & test rewrites & coding style changes

[2019-06-22 18:10] haezl commented on #307
@hasezoey: Thanks for the clarification.

Meanwhile I stumpled across the root cause for the issue.
Its actually when two documents are referencing each other and has nothing to do with subdocuments.

Dummy.ts:
[code]
DummyRef.ts
[code]

main.ts
[code]
Error:
[code]

I got this issue in my application as both posts and comments (which are subdocuments of the post) have a reference to a user - and

[2019-06-22 18:24] haezl commented on #307
However if I change the line
[code]
 to
[code]
in Dummy.ts and do the same with DummyRef.ts my previous example is working.

[2019-06-22 18:27] #307 closed

[2019-06-23 06:42] RyannGalea opened #308 "Clarification on casting string to ObjectId"
Hey Everyone,

Confused if this is the proper implementation...

I created a field called 'createdBusiness' which has a default value of ObjectId (imported from 'mongod') and it is stored in the DB as an ObjectId

When I try and do:

    const { business } = ctx.req.session.state;
    return ContactModel.find({createdBusiness: business})

It returns no values, but if I create an ObjectId and pass

[2019-06-23 12:15] RyannGalea commented on #116
Any news on this? I am trying to have default values on an 'arrayProp()' but it doesn't work

[2019-06-23 13:35] RyannGalea commented on #131
So how do I actually use this, I keep getting Maximum call size exceeded using graphql.

All I simply want to do is ref a Notes collection and get all 'contact' notes onto the contact when I retrieve the contact.

It seems there no proper way to do it using Typegoose? at least from what I've seen on the readme on github

[2019-06-23 13:50] RyannGalea commented on #131
Is this the correct way to do something like this? seems a little inefficient, and it's not very well documented how I would achieve this another way using localfield & foreignfield?

       @prop()
       get notes(this: InstanceType<Contact>) {
         return NoteModel.find({ contactRef: this._id }).exec()
       }

[2019-06-23 14:01] hasezoey commented on #131
@RyannGalea please open a new issue, because your problem is diffrent, and please provide your models & the function you use or an working dummy code

[2019-06-24 10:57] alizahid opened #309 "TypeScript questions"
Hey,

I've got a couple of questions.

---

### `id` is not defined

My understanding is that `id` is a virtual property on every Mongoose model. But this doesn't work.

[code]

**Error**

[code]

Neither does `_id`.

---

### `@arrayProp` defaults and properties

I have a `Rating` schema defined like this.

[code]

And on my `Post` schema I have this.

[code]

Hope is that the default rating will

[2019-06-25 10:51] richarddd commented on #242
I ran into this problem as well, could be solved by using another minimizer in your webpack config (which keeps classnames)

[code]

[2019-06-25 11:16] gentleShark commented on #204
@Christilut  @JakeAi @szokodiakos I'm trying to store a simple two-field Typegoose object (which has to be a Typegoose objject because one of the two fields is a Ref and the other field just defines an enum scope) as a subdocument but I'm running across what seems to be the default behavior of a new collection being created instead of a subdocument. did you figure out the key to switching between

[2019-06-25 12:32] hasezoey commented on #242
@andreialecu i know this issue is old, and if you still use it or try to, could you try to use [this repo](https://gitlab.com/hasezoey/typegoose) and say if this works with `minimize: true`?

or @richarddd could you try it too with the default minimizer?

PS: i dont know anything about webpack & serverless

[2019-06-25 12:33] hasezoey commented on #308
could you provide your model?

[2019-06-25 12:41] hasezoey commented on #309
could you provide a model for both? (where the virtual is in & the Post model)

---

where is this function "create" defined?

---

as far as i know, you cant override toJSON on typegoose, you can only set if it should output virtuals, `_v`, `_id`

---

Note: more on other questions will follow

[2019-06-25 13:12] hasezoey commented on #309
here is my dummy code, it fully works (look below the code for `default` advise)
Note: [I used this repo, because otherwise it would error out](https://gitlab.com/hasezoey/typegoose) (error that would come: #238)
[code]
---

if you want to use a default for an arrayProp, wich is not an primitive, i suggest you use a wrapper function like this below
Note: i dont know how you came to the user id in

[2019-06-26 01:04] RyannGalea commented on #308
@ObjectType()
          export class Contact extends CreatedTypegoose {

            @Field()
            readonly _id: ObjectId

            @Field(type => ContactType)
            @Property({required: true, enum: Object.values(ContactType), index: true})
            contactType: ContactType

            @Field()
            @Property({lowercase: true})
            name: string

            @Fiel

[2019-06-26 01:21] mschnee opened #310 "Support mongoose `refPath`"
For feature parity, add support for [Mongoose Dynamic References](https://mongoosejs.com/docs/populate.html#dynamic-ref)

[code]

[code]

[2019-06-26 07:13] a1p4ca commented on #197
`select` is still not implemented.

[2019-06-26 08:51] alizahid commented on #309
Thank you for the quick response!

This is my `User` model.

[code]

And this is my `Post` model.

[code]

I've inlined all my comments and questions.

[2019-06-27 04:54] richarddd commented on #242
@hasezoey the issue is that the default minimizer obfuscates class names which are required by typegoose to work. Sure, you could configure the default minimizer to keep class names as well but Terser is much more optimized and easy to use. Just install it as a dev dependency:

`yarn add terser-webpack-plugin --dev`

and import to webpack config:

`const TerserPlugin = require("terser-webpack-plug

[2019-06-27 18:55] hasezoey commented on #242
thanks for the clarification, because like i said, "i dont know anything about webpack & serverless"

[2019-06-27 19:37] hasezoey commented on #309
first, you should always export the class too (to use it as a reference or so)

like:

use `user: Ref<User>` (note: User is the class)

---

you can use a wrapper or these hooks, but you should remove the default property from the options

---

you must for that define this like so:
[code]
BIG Note: there are 2 versions of "InstanceType", you must import it from Typegoose!

---

yes, currently not

[2019-06-27 19:44] hasezoey commented on #308
createdBusiness: Ref<Business>

basic mistake, fix it with this below:
[code]
Note: use ref as a string do avoid Errors like "cant use 'Business' before creation"

---

PS: if this does not answer your question, please provide what `@Field`, `@ObjectType` & `@Property`(i assume its `prop as Property`) is, thanks

[2019-06-29 05:17] alizahid commented on #309
Thank you, that clears up everything.

However, I'm now running into a new issue.

In VS Code, `Post.rate` works just fine. Intellisense, etc.

But when I run the code, `Post.rate` is undefined. Any ideas why?

[2019-06-29 05:39] alizahid commented on #309
Also, looks like `Ref<User>` does not have an `equals` method on it. I'm doing `user === id` right now.

[2019-06-29 06:24] alizahid commented on #309
Also, how do I run `toJSON` on sub docs?

For example.

[code]

[2019-06-29 12:12] hasezoey commented on #309
i never knew that it had an equals method before

---

you should not define a toJSON on a model/schema, because of mongoose's toJSON, when you want subdocuments you should use mongoose's toJSON, and modify the json from there on

---

do you mean `PostModel.rate` is undefined? because the `Post` otherwise is just the schema, on there the functions will not work

[2019-06-29 13:11] RyannGalea commented on #308
Thanks @hasezoey, ill give this a try and report back. Knew it would likely be something simple.

[2019-06-30 09:41] techaks commented on #277
i found alternative way to do unqiue fields
`
npm i mongoose-unique-validator`

[code]

[2019-06-30 10:38] RyannGalea commented on #310
I want to try and implement this into my notes Schema, but I'm confused on how I would type it to 'Type-Graphql', Any ideas?

          @ObjectType()
          export class Note extends CreatedTypegoose {

            @Field()
            @prop()
            body: string

            @Field(type => ) ???
            @prop({ required: true, refPath: 'modelRef' })
            model: Ref<Contact | Pr

[2019-06-30 13:44] hasezoey commented on #310
@RyannGalea this is not really a questions for here, try to make a question in https://github.com/19majkel94/type-graphql/issues , i tried and searched, but didnt found anything related to refPath or multiple types

Note: i dont know anything about graphql

[2019-07-02 13:50] RyannGalea opened #313 "[enhancement] Use array in @post hooks"
I have instances where I want to achieve the same thing using different hooks but just end up having to duplicate the code, would it be possible or be a good idea to allow an array of hooks to do the same thing?

Currently:

          @Post<Contact>('save', (data) => addNotePost(data, Entities.CONTACT))
          @Post<Contact>('findOneAndUpdate', (data) => addNotePost(data, Entities.CONTACT))

En

[2019-07-02 13:55] #308 closed

[2019-07-02 14:49] hasezoey commented on #313
i think this is not within the scope of typegoose, but you could make a simple function like below:

[code]
Note: this should work, but somehow i found that "save" and many others are not declared right (only "count" and "insertMany" are declared)

[2019-07-02 14:58] hasezoey opened #314 "[Bug] post hook wrong declared"
when doing something like this for the `pre` hook, everything works, no error
[code]
but when doing it with `post` hook
[code]
errors come:
`error TS2345: Argument of type '"save"' is not assignable to parameter of type '"insertMany"'`
and
`error TS2345: Argument of type '"findOneAndUpdate"' is not assignable to parameter of type '"insertMany"'`

as a Note, the wrapper function is:
[code]

the cur

[2019-07-03 03:56] richarddd commented on #242
@hasezoey nope you could use `mimimize: false` or change the minimizer config. This issue could be closed as it has nothing to do with typegoose :)

[2019-07-04 12:27] thurft commented on #314
can you update the information using `@post<T>("findOneAndUpdate", hookwrapper)` like in `@pre<T>("save"`

i used `@pre<T>("findOneAndUpdate", (next: HookNextFunction, offer: any)` . but i dont have guidance on how to update the `offer` for validations or run things inside

[2019-07-04 12:47] thurft opened #315 "@pre Hooks on updateOne"
I can create an execute
[code]

and I can see something like this from the console log

``
function(error, result) {
 oldCb(error, result ? result.result : {ok: 0, n: 0, nModified: 0});
      }
[code]

[2019-07-04 17:44] hasezoey commented on #315
i think you have a small formatting issue

btw after \`\`\` you can do the language like "ts"

-> when fixed, i will remove this comment

[2019-07-04 17:51] hasezoey commented on #315
i dont know how you try, but what i can see, is that the "next" function is always at the end
-> so you are essentially doing `next.toString()`

[2019-07-04 17:53] hasezoey commented on #314
sorry, but i dont understand what you mean, but i will update my issue with the wrapper function

[2019-07-04 18:10] hasezoey commented on #314
Ok found the Issue,
[code]
did not have any before "next", so it tried to cast to "insertMany" (i dont know why)
-> adding anything before "next" fixed it

tl;dr: typescript has not given the "right" error

[2019-07-04 18:10] #314 closed

[2019-07-04 21:12] thurft commented on #315
@hasezoey  since I can't access `save` on the operation `updateOne`.  I would inside the `@pre<Offer>("updateOne"`  to access the object `Offer` and a public property before its saved, just like you would do on `@pre<Offer>("save"` if that makes sense

[code]

[2019-07-04 22:14] hasezoey commented on #315
ok, i take my last comment back, i thought "next" and "result" would be switched, like in the "@post" methods,

---

and normally this *should* work what you are trying todo

... and from what the types say "offer"(/in types it is "docs") is defined as an array ...

---

-> i will write back when i tested your code

[2019-07-04 22:57] hasezoey commented on #315
so after my testing i got the following:
- `@pre<Offer>("updateOne", (next: HookNextFunction, offer: any) => {` must be a normal function, and not an arrow function
- had to replace "offer" with "this"
- "this" is a "mongoose.Query"
- i didnt find anything to add something like a "$set" or modify the value in any way
- that typegoose hooks types are broken

PS: why do you want to update on updateO

[2019-07-04 23:29] thurft commented on #315
@hasezoey

Thank you so much for the effort on checking this undocumented thing. Yes. it seems a hack rather than a proper implementation

as per `PS: why do you want to update on updateOne and not save? (could i see how you call .updateOne?)`

This was the original `updateOne` but i dont know how performance would be to use the `mongosee.Query`
[code]

I instead choose to change the query for som

[2019-07-05 00:02] hasezoey commented on #315
should this be considered "closed"/"solved" now?

PS: you still have some small formatting wrong in the original question

[2019-07-05 08:18] alizahid commented on #309
You need that to compare ObjectIds with strings. It would be nice to have that added to the types.

I'm overriding Mongoose's `toJSON` in the schema to fit my needs. It makes it easier to define it there than to mutate my response object in every controller.

Yes, I mean `PostModel`. I just named it `Post` for readability, I guess.

[2019-07-05 13:10] visheshd commented on #116
I just bumped into the same issue. Goes away if I don't specify `default`.

[2019-07-06 08:28] #315 closed

[2019-07-06 08:29] thurft commented on #315
Thank you!

[2019-07-09 04:46] patarapolw commented on #187
I have a problem too. May be it has something to do with `tsconfig.json`, so I created `tsconfig.backend.json` with

[code]

It seems that the target has to be `commonjs` for some reasons.

[2019-07-10 20:00] mschnee commented on #310
Hey y'all- given that the relevant PR has been merged (thanks for the quick response), I'm going to close the issue.

[2019-07-10 20:00] #310 closed

[2019-07-11 10:56] thurft opened #319 "Error TS2322: Type 'Date' is not assignable to type 'never'."
I am creating my user schema and I get the following error when trying to assign a value to the `registrationStatusTimeStamps` field  on the function `@pre<save>` and `ts` keeps saying that is `of type never`.

`error TS2322: Type 'Date' is not assignable to type 'never`

I've tried about everything but i keep having TS complaining and the field not saving.
I guess my desired output is  evident sa

[2019-07-11 11:00] naorzr opened #320 "'immutable' option in @prop decorator missing in the types"
It seems like it's supported, but not updated in the prop.d.ts file.

[2019-07-11 11:17] hasezoey commented on #319
can i ask on which line it errors?

[2019-07-11 12:47] amirker opened #321 "Nested arrayProp has to be last"
This might be on purpose, or just how the system works,
but when having a nested array property, properties defined after the nested array property will not be saved for 2nd or above level

for example:
`class NestedItem {
  @prop({ trim: true })
  name?: string;

  @arrayProp({ items: NestedItem })
  items?: Item[];

  @prop()
  someText?: string;
}

class Product extends Typegoose {
  @arrayProp

[2019-07-11 15:44] thurft commented on #319
@hasezoey  is on the `this.registrationStatusTimeStamps[this.registrationStatus] = new Date();` on the `else` statement

[2019-07-11 21:03] shilangyu commented on #197
`select` is a pretty important feature and is still missing

[2019-07-11 21:18] shilangyu commented on #244
Im a pnpm user and typescript fails to compile because of `cant find module 'bson'`. How is this related to pnpm and is there a workaround?

[2019-07-11 21:21] shilangyu commented on #244
Installing `@types/bson` seemed to fix it, cant see how it is related to pnpm tho

[2019-07-11 22:18] hasezoey commented on #244
first: i dont know what pnpm is or how it is diffrent from npm

in my latest pr #318 i removed all dependencies for bson, because it is nowhere used in the project, so i would ask: is this still a problem?

[2019-07-11 22:50] shilangyu commented on #244
Pnpm is just an alternative to npm that speeds things up

However I don't believe the error is related to pnpm. Will try to reproduce this error tomorrow (about 10h).

On a unrelated note: Thank you for all your work @hasezoey on this project

[2019-07-11 23:20] hasezoey commented on #321
*https://guides.github.com/features/mastering-markdown/*

it should work anywhere in the class
-> can you provide how you modify & save the class/document?

[2019-07-12 04:51] hasezoey commented on #197
@a1p4ca  @shilangyu now it is, when the merge is accepted

[2019-07-12 05:35] hasezoey commented on #319
made an working example ... but it just works fine, when it dosnt for you or is diffrent than i have here, please show me how you modify / change data

[code]

with output
[code]

[2019-07-12 06:19] #197 closed

[2019-07-12 08:05] shilangyu commented on #244
## To reproduce:

[code]
Enable experimental decorators in tsconfig.
Create `index.ts`, populate with:

[code]

## Errors:

When running `npx tsc` the error is thrown:

[code]

So looks lime the generated prop.d.ts imports `bson`? I couldnt find any source for the error, `bson` isnt imported in typegoose

[2019-07-12 08:34] hasezoey commented on #244
@shilangyu sorry, but i asked if it still happenes with the latest master, not the latest npm (because npm package is a bit behind)

and because this module dosnt have an autobuild (install script to compile when installed over git), could you try it so:

[code]
and call it as a as a normal code module with relative paths? (now it is a git-submodule) thanks

[2019-07-12 09:23] shilangyu commented on #244
Tsc now compiles correctly however i had to remove `test/src/typegoose/test`, copy over typegoose's `tsconfig`. Running `node index.js`:
![image](https://user-images.githubusercontent.com/29288116/61117708-67ccc200-a497-11e9-8940-d60cb3b856ea.png)

[2019-07-12 09:44] hasezoey commented on #244
why did you have to remove typegoose/test?
could you give the nodejs version (& TS version) and your model? thanks

[2019-07-12 09:53] hasezoey opened #325 "Repo Question"
@Ben305 is the Branch "feature/4" still needed / for what is|was it for?

[2019-07-12 09:57] Ben305 commented on #325
That's a branch from @szokodiakos which never was completed. Contains some refactorings, but I didn't take a closer look yet

[2019-07-12 10:15] shilangyu commented on #244
Because ts was trying to compile it (yes, i could achieve the same by just adding an exclude in `tsconfig`). I am running the latest version of ts and node (v3.5.3 and v12.6.0 respectively). My model is the example i showed [here](https://github.com/szokodiakos/typegoose/issues/244#issuecomment-510792180)

[2019-07-12 10:57] hasezoey commented on #325
thanks for the clarification

[2019-07-12 10:57] #325 closed

[2019-07-12 11:09] hasezoey commented on #244
@shilangyu could you add to that model, where you make the class to the Model (even if its just standart)?

[2019-07-12 13:20] shilangyu commented on #244
I am incredibly sorry, i was running the wrong file with node, everything works fine now 🤦‍♀️

[2019-07-12 15:04] shilangyu commented on #197
Is this the correct implementation of select? Currently if i set select to false this field isnt even added to the database, AFAIK select should just exclude this field from queries (`User.find()` for example) unless i explicitly tell them to. This works in mongoose

[2019-07-12 15:23] hasezoey commented on #197
@shilangyu select, as many other parameters are just passed-through to mongoose, in my case it added it to the database, but just not returned it, show it should...?

as a Note: i dont know use cases, or the right respone it should give, so i just took what i got and passed it through to mongoose, and in the tests i tested against what i thought was right, please correct me/it when i was wrong

[2019-07-12 16:34] shilangyu commented on #197
Example use case is passwords, i want it to be stored in the database however i dont want it to be returned after a query (i explicitly select a password when authenticating only). I understand you just pass it to mongoose, in this case i will further investigate it. Maybe adding a test case:
[code]
Would make sure the field is in the database but not returned?

[2019-07-12 23:15] techaks commented on #235
when it will work dude

[2019-07-13 00:11] hasezoey commented on #197
@shilangyu i am adding / improving the select tests, and i notice, you are right, only the not default `{select: false}` are saved ... but i really dont know why

[2019-07-13 00:45] hasezoey opened #326 "[Bug] {select} not working properly"
## Versions

- NodeJS: 12.6.0
- Typegoose(GIT): 943c5890e5434f0c793d4dcff47a9fc9a4591794
- mongodb: 4.1-bionic (docker)

---

It is probably not a typegoose problem, but @shilangyu in #197 (& i after testing) have found that `@prop({ select })` is not working properly example in #327

[2019-07-13 00:50] hasezoey commented on #197
@shilangyu lets move the conversation / bug "report" to #326

[2019-07-13 01:18] hasezoey commented on #292
#323

[2019-07-13 01:18] #292 closed

[2019-07-13 01:20] hasezoey commented on #259
is this still a problem with typegoose@5.8.0?

[2019-07-13 01:23] hasezoey commented on #240
im working on another issue, and found why this happenes:
in [prop.ts](https://github.com/szokodiakos/typegoose/blob/943c5890e5434f0c793d4dcff47a9fc9a4591794/src/prop.ts#L130) it returns, and does not apply an required flag/parameter/option

-> it could be made, but for that the `baseProp` function would need to be re-worked, because setting the required flag is done at the end, with other types &

[2019-07-13 17:27] amirker commented on #321
here is a full example,
notSaved property will be saved if moved before items property

[code]

[2019-07-14 12:10] hasezoey commented on #321
i could verify it, i'm not *fully* sure, because a schema in typegoose & mongoose is "compiled" *once*, but there aren't any problems on "compiling" it, and in the first nested/subdocument it works, as it can be seen, and i couldn't track any issues in typegoose where it could happen... because typegoose does *not* modify the model, only the schema *(as far as i can see)*, and the schema is just f

[2019-07-14 12:24] hasezoey commented on #321
Issues on mongoose might be related to the "nested / recursive Schema"
- https://github.com/Automattic/mongoose/issues/5289
- https://github.com/Automattic/mongoose/issues/3056

[2019-07-15 08:11] alizahid commented on #309
@hasezoey This seems like a bug. Did you get a chance to look at it?

[2019-07-15 12:28] hasezoey commented on #309
@alizahid, sorry for this late response, but could you clarify what the issue/bug currently is?
is it that  your "ObjectIDs" dont have a `.equals` function or that the `PostModel` dosnt have an `.rate` function?

[2019-07-15 12:31] hasezoey commented on #309
when it is the `.rate` problem, did you already try to set `static` before the `async` statement?
like so: `static async rate(`?

[2019-07-15 12:50] alizahid commented on #309
Both, but I can just `@ts-ignore` the `equals` problem for now. It's not a huge deal.

For the `.rate` is.

---

`PostModel.rate` not existing is a big one, though.

I just tried adding static. I get this error now;

[code]

Without static, I get;

[code]

I will create a small project from scratch and follow the docs to see if I can reproduce it. I'm assuming you're not able to?

[2019-07-15 13:03] alizahid commented on #309
So, this is the code;

[code]

And it throws this error;

[code]

[2019-07-15 13:11] diephil commented on #227
Anyone found a solution on this ? I'm having the same issue (sub-document with `_id` that I want to transform to `id`) :/

[2019-07-15 15:21] hasezoey commented on #227
@diephil would #331 help?

[2019-07-15 15:26] hasezoey commented on #309
so, as a conclusion:
- all Questions are solved, right?
- one thing that came up is that `ObjectId`'s dont have an `.equals` method?
-> when you use the `mongoose.Types.ObjectId`, then typegoose can do nothing about it, because its and `@types/mongoose` problem
-> when you use bson's `ObjectId`, typegoose can do nothing too ...

i would consider it closed now, except when the `ObjectId` thing is a

[2019-07-15 19:48] gotenxds opened #332 "[FP] Add Mongoose discriminators"
## Which feature
Discriminators
https://mongoosejs.com/docs/discriminators.html

## Why do you want it
Currently the best we can do when it come to inheritance is extending the class.
Discriminators adds a layer to that so when we fetch data we get only the type we want
So if we have
class Item of collection items
class weapon extends item of collection items

currently if we do
[code]

discrimina

[2019-07-16 12:28] hasezoey commented on #332
Note: i dont fully understand discriminator currently, but i have some questions

1. would it work with #331? (also the `const DiscriminatedModel = SomeModel.discriminator("name", SomeSchema)`?) [i will test it, but like i said in my note, i dont know if it would be what is wanted]
2. would someone otherwise have some implementation proposal?

[2019-07-16 12:52] hasezoey commented on #332
as my Test result, yes it fully works with #331, but some makeup should be done, here the code i used
[code]

-> i propose a new function, something like `Typegoose.buildDiscriminator`
(but i will wait until #331 is merged OR is squashed)

[2019-07-16 12:54] hasezoey commented on #294
this can be closed in favor of #332
@Ben305

[2019-07-16 12:55] hasezoey commented on #93
this can be closed in favor of #332
@Ben305

[2019-07-16 12:57] hasezoey commented on #267
this can be closed in favor of #332 and marked as "stale" / ("outdated"?)
@Ben305

if someone still has this issue, please open a new issue with "minimal" code

[2019-07-16 14:48] #294 closed

[2019-07-16 14:48] #93 closed

[2019-07-16 14:49] #326 closed

[2019-07-16 15:42] hasezoey commented on #332
@gotenxds, i made a Draft at #333 for Discriminators, but not everything is working correctly...

[2019-07-16 16:52] naorzr commented on #332
@hasezoey I think that ```Typegoose.buildDiscriminator``` would be taking this library out of it's original scope.
It should better focus on providing a broader way to infer mongoose schema from typescript class.

[2019-07-16 16:54] hasezoey commented on #332
uhm it does everything the mongoose style, the function is just there to feed the created model to the typegoose storage & to output the right types

[2019-07-16 18:57] shilangyu commented on #326
@Ben305 any chance the merge can be released as a minor release? The npm version has the bugged `select`. Thanks!

[2019-07-16 19:09] Ben305 commented on #326
Done

[2019-07-17 03:42] hasezoey opened #334 "[Request] Build a Model from a Schema"
with #331, there will be a function to build the schema (`buildSchema`), but there will be no function to `buildModel(schema)`, #333 would add those but has many problems

I just make this Issue for those who are searching for such thing, because they wouldnt be able to give the schema back into the typegoose-system, and wouldnt have the right types

[2019-07-17 08:40] hasezoey opened #335 "[Request] Missing Tests for the hooks"
## Describe what you need | want

Currently the tests only test a bit of the `pre` hook, but not many for the `post` hook

## Do you have an Implementation Idea?

adding more tests & a special model for it, just for the hooks

[2019-07-17 09:12] diephil commented on #227
Hello @hasezoey , I finally found a workaround for my issue.
In a context of an REST API endpoint (with NestJS), I'm calling a `parentSchema.toJSON()` before sending back my nested entities to the client.
The `toJSON` method searches deeply and replace all `_id` properties with `id`. Thank you for your suggestion

[2019-07-17 11:39] HendrikRoth opened #337 "[Question] Extending existing Typegoose Class within same collection"
Hello everyone,
is it possible to extend a created typegoose class (entity) but using the same collection as the parent class?

example:

[code]

instead of creating a new collection for extended i would like to use the same base collection. Is this possible and how? I tried to use mongoose SchemaOptions, but seams not to work for this variant?

[code]

The goal is to be able to query the mongo da

[2019-07-17 11:53] hasezoey commented on #337
so when i understand this correctly:
- you want to have a parent model
- you want to have a child model, extending the parent model
- you want the parent & child to use the same collection
- and you want to still query the child model, but only with the values from the parent model

right?

---

yes, it is half possible:
you can have a child & parent in the same collection with [Discriminators](ht

[2019-07-17 11:59] hasezoey commented on #320
Sorry for the late response for this issue:
i cant find a native "immutable" option in mongoose, but i can find `mongoose-immutable` module, and because this is **not** native mongoose, it will probably never be supported, but with the plugin and `// @ts-ignore` you can always add options that have no type

[2019-07-17 12:01] hasezoey commented on #288
because of no activity, and it seems like the issue is solved by @ManuRodgers, i consider it closed
@Ben305

[2019-07-17 12:04] hasezoey commented on #281
because of inactivity & no response of @seyaobey, i consider this issue closed
@seyaobey, if you still have this issue, or still want to solve it, please reopen, if closed

@Ben305

[2019-07-17 12:26] HendrikRoth commented on #337
Yes you did understand me right.
Ok, than i have to figure out how to change my structure, thank you

[2019-07-17 12:28] hasezoey commented on #337
i consider it solved | closed now, thanks that i could help

[2019-07-17 12:28] #337 closed

[2019-07-17 12:35] diephil commented on #89
@pdupavillon , do you remember how you made it work with your `History[]` ?
`@prop({ _id: false })` is working great for subdocument, but I can't make it work with subdocument **array**. I even tried `@arrayProp({_id: false})` hopelessly... Am I missing something?

[2019-07-17 12:37] hasezoey commented on #89
@diephil please open a new issue with "question" or "bug" for this and with examples of your code, otherwise i(/we) cant help you, thanks

[2019-07-17 12:41] naorzr commented on #320
@hasezoey it seems like they haven't updated their own .d.ts files, but it is a native feature.
please see https://mongoosejs.com/docs/api/schematype.html#schematype_SchemaType-immutable.

[2019-07-17 12:50] hasezoey commented on #320
@naorzr sorry, but i meant that i couldnt find anything on google that would be related to the native one, only to the one module, but yes, it could be easily added ... when i find it documented correctly (.d.ts), i will add it

[2019-07-17 13:03] Christilut commented on #259
Yes this still happens.

Just upgraded all relevant dependencies to this:
[code]

[2019-07-17 13:15] hasezoey commented on #259
can it be that you have some tslint rule preventing `await` in non-promise returning functions?
because when you use something like `OrganizationModel.findById(this.organization)` returns a query, wich wouldnt be a problem normally, but you should (at least when using typescript & for completeness) execute it so: `await OrganizationModel.findById(this.organization).exec()` important: the `.exec()`

[2019-07-17 13:17] hasezoey commented on #259
and

is not a typegoose issue, but i will answer it anyway:
`!org.name` isnt valid with this strict tslint, because `name` is probably a string, and the `!` in this strict tslint is only allowed if it is an boolean ("true" or "false")

[2019-07-17 13:27] fiws commented on #274
mongoose supports the `Map` type: https://mongoosejs.com/docs/schematypes.html#maps

But it does not work out of the box with typegoose, does it?

[2019-07-17 13:29] Christilut commented on #259
Using `.exec()` does solve it and the linting behaves as it should now.

If I'm understanding it correctly, using `findById()` also executes immediately but returns a Query which is a Thenable, which is similar to a Promise but not really a Promise... And this is a mongoose thing, not a Typegoose thing. I do find it kind of strange that `findById()` returns a Query and immediately executes, becaus

[2019-07-17 13:29] #259 closed

[2019-07-17 14:32] hasezoey commented on #259
yes you are right

because mongoose just uses the the `.find()` with the only options being `_id`, so you can still add something like "where" or "select"(to exclude the output)

[2019-07-17 14:34] hasezoey commented on #274
@fiws no it dosnt work out-of-the-box because: typegoose dosnt supply the `of` property options
-> and it cannot fully implement Map's outputs from given inputs, only an indexer
but you could try it with `// @ts-ignore`, but i dont know if it will work

[2019-07-17 14:49] Christilut commented on #259
Ah I see, good to know, thanks :)

[2019-07-17 16:20] fiws commented on #274
I'm wondering what my code actually does. I have a schema with a field like this:

[code]

And it's not actually a JS map, but an object. Is this to be expected?

[2019-07-17 17:25] hasezoey commented on #274
@fiws, yes it is expected, to be "unexpected" because the `Map` Property isnt supported, and by the way, you didnt add the `of:` parameter options, what mongoose would need

[2019-07-19 10:26] Rekseto opened #338 "toObject property does not exist on type UserModel"
## Versions

- NodeJS: 10.15.1
- Typegoose(NPM): 5.2.1
- mongoose: 6.1.2

TypeScript does not see property toObject in instances of models (that are extending typegoose)

I only able to fix it by adding my custom types, but maybe it can be added to @types at library?

[2019-07-19 10:35] hasezoey commented on #338
typegoose is based on typescript, so it dosnt need to be on the @types collection
could you add your model & how you use it to verify it?

[2019-07-19 11:11] Rekseto commented on #338
[code]
And here's the model

[code]
And there's is authServices

[code]

[2019-07-19 11:20] hasezoey commented on #338
sorry, cant verify, using latest master / npm 5.8.1:

[code]

PS: yes, on type `User` there will never be an .toObject, you are using the wrong type, use [this](https://github.com/szokodiakos/typegoose#instancetype)!

[2019-07-19 11:22] hasezoey commented on #338
cannot reproduce, sorry, using latest master / npm 5.8.1:

[code]

PS: you are using the wrong type, [use this](https://github.com/szokodiakos/typegoose#instancetype)
`const result: User = await this.authService.register(payload);` -> `const result: InstanceType<User> = await this.authService.register(payload);`

[2019-07-19 11:27] hasezoey commented on #338
I consider this as closed & Invalid(as a bug)

@Ben305 you could add the "invalid" label on here, thanks

[2019-07-19 16:49] #338 closed

[2019-07-20 13:28] gimyboya commented on #286
@hasezoey I am having the same error described here. any workaround?

here is my `tsconfig.json`:

[code]

[2019-07-20 13:31] hasezoey commented on #286
@gimyboya because it is a "same" issue and this issue is not *too* old, please paste your code, with the error OR bake the error as a comment into the code, otherwise we cant help you

[2019-07-20 13:55] gimyboya commented on #286
Ok, I fixed the problem by doing the following:

I changed my prop from this:
[code]

to this:
[code]

[2019-07-20 13:57] gimyboya commented on #286
@hasezoey Thanks for the fast reply I still have a question about enums.

can't we use numeric enums at all?

such as this:

[code]

I find myself alwayse forced to convert it to a string enum

[2019-07-20 14:06] hasezoey commented on #286
@gimyboya your issue is not a typegoose issue
[look here for more help](https://stackoverflow.com/questions/42303758/mongoose-enum-number)

[2019-07-22 17:04] mschnee opened #340 "[FP] subDocument @props are missing schema options, hooks, middleware, plugins, virtuals, everything, because buildSchema() is not run on them"
## Which feature
- [Subdocuments](https://mongoosejs.com/docs/subdocs.html)

## Why do you want it

To quote from the mongoose documentation (emphasis added)

This is a core feature of mongoose: nested documents or subdocuments are fully featured mongoose documents, with hooks, virtuals, and their own schema options.  These documents are **not compiled into models** and **do not cause the creation

[2019-07-22 17:11] hasezoey commented on #340
i must say, i never used | needed to use a validator on a subdocument, but i am surprised that there isnt a test for it, i will think about adding one & verifying the feature/core concept

[2019-07-22 19:35] hasezoey commented on #274
with #284 (old) and #342 (new) Map is added as `@mapProp`, when merged, available to everyone

[2019-07-22 19:38] hasezoey commented on #309
@Ben305 this can be considered solved & closed

[2019-07-22 19:48] hasezoey commented on #274
@fiws, when you still work with typegoose, could you try #342, and report if it works how it should?

[2019-07-23 19:04] #309 closed

[2019-07-23 19:05] #274 closed

[2019-07-23 19:07] alizahid commented on #309
Yes, thank you. All questions are resolved.

[2019-07-23 20:16] DawTaylor opened #344 "[Question] Is it possible to map fieldName to field_name?"
We're migrating a project from JS to TS and we decided to go with Typegoose.

Our models use `snake_case` convention for field names, however it seems that Typegoose does not support it out of the box, at least I couldn't figure out how. Is that possible?

I thought of something like this class;
[code]

That would have the following Schema output;
[code]

[2019-07-23 20:25] hasezoey commented on #344
i dont know what you are trying to archive, but when you just mean simple usage, `@prop()` is enough for a string, when you try to reference another model from a different collection, use `Ref<T>`, if you try to use [something like this](https://mongoosejs.com/docs/populate.html#populate-virtuals), translate this to typegoose, documentation is missing for this (i added this, but cant fully underst

[2019-07-23 21:03] DawTaylor commented on #344
I'm not trying to reference another model, and I'm not sure how would virtuals or alias help us. We don't actually need a `field_name` alias, we need to persist the document with `field_name` while using `fieldName` on the application.

For instance, a document for the `user` collection would look like;
[code]

[2019-07-23 21:15] hasezoey commented on #344
thats what i meant, when you use some different "alias" in the application / DB, you should define what is saved on your DB and make an alias (virtual) for your application

like:
[code]

[2019-07-24 11:06] moar55 opened #345 "[Question] Is there a way to make a function's argument of the model's type?"

[2019-07-24 11:13] hasezoey commented on #345
i dont fully understand your question, could you explain a bit more / code example what works and what not?

[2019-07-24 11:49] moar55 commented on #345
sorry if I was unclear.
Here is an example:
[code]

[2019-07-24 11:56] hasezoey commented on #345
do you want to create a user-Document in `createUser(user)` and want that `user`(argument) for type completion?

[2019-07-24 12:17] moar55 commented on #345
yea, also for type checking on compilation.

[2019-07-24 12:29] hasezoey commented on #345
does this work for you | is that what you wanted?

[code]

[2019-07-24 12:32] moar55 commented on #345
I wasn't exactly thinking of that. I was thinking of a controller or route method that gets an argument of the model's type as an argument. However, this works too and I think it makes more sense :)

[2019-07-24 12:36] hasezoey commented on #345
do you mean like this?

[code]

[2019-07-24 12:51] moar55 commented on #345
Precisely!
Thank you

[2019-07-24 12:56] hasezoey commented on #345
i know, but currently there is no other option than use partital, or ... somehow pass in the functions, what would be not good

---

then this issue can be considered solved/closed, right?

[2019-07-24 12:57] moar55 commented on #345
Yes, closing...

[2019-07-24 12:57] #345 closed

[2019-07-24 13:07] DawTaylor commented on #344
Thanks for the example @hasezoey.

[2019-07-24 13:07] #344 closed

[2019-07-24 14:31] moar55 opened #346 "[Question] How to set timestamps for submodels."
The submodel shouldn't be a new collection in the database...

[2019-07-24 14:44] moar55 commented on #346
Right now I do this as an alternative:
[code]

[2019-07-24 14:53] hasezoey commented on #346
for this, you need to give an example, because it shouldnt create a new collection.

[2019-07-24 15:03] moar55 commented on #346
[code]
say here I want the lastStatus to have a timestamp

[2019-07-24 15:05] moar55 commented on #346
To avoid this right now I have something like this:
[code]

[2019-07-24 15:40] hasezoey commented on #346
this should work without creating a new collection, a collection is only created when the document is saved, and not as a subdocument of a another document / model

[code]

[2019-07-24 15:51] moar55 commented on #346
Thanks again
Well if `getModelForClass` can be used without creation of a collection I think it would be better to have this instead of explicitly putting the `createdAt` property in the class:
`const LastStatusModel = new LastStatus().getModelForClass({ schemaOptions: { timestamps: { createdAt: true } } });`

[2019-07-24 16:08] hasezoey commented on #346
is everything solved now?

[2019-07-24 16:35] #346 closed

[2019-07-24 16:40] hasezoey commented on #251
i know this is old, but i am working on it currently at https://github.com/Automattic/mongoose/issues/8012

[2019-07-25 03:06] PabloSzx commented on #261
turns out that in runtime this doesn't work properly,

i was testing this type guard on runtime and it doesn't work, it seems to not be a real instance of the the Typegoose class, but instead an instance of `Model` from `mongoose`, but you can't just do
[code]
because it really is the Typegoose extended class, so in order to work in Typescript compilation time AND runtime, you have to make a [cust

[2019-07-25 03:47] PabloSzx commented on #261
is not that easy to fix this, because (*correct me if i'm wrong*) if we change this
[code]
to
[code]

we would have to do unnecessary validations for the array of refs , since for arrays if it's not found, it's not null

[2019-07-25 08:10] hasezoey commented on #264
@Ben305 i think this can be closed

[2019-07-25 08:16] hasezoey commented on #258
i know this is a bit old, but:
why would this be needed to be included in typegoose, because as far as i could see, this has nothing todo with the model creation / schema creation?

[2019-07-25 08:18] hasezoey commented on #244
i think this can be closed now, because typegoose dosnt use bson anymore, only mongoose.types.objectid

@Ben305

[2019-07-25 08:32] hasezoey commented on #238
#302 seems to have fixed this, at least when i try to execute the reproduce code, it dosnt error anymore

so i think this can be closed
@Ben305

[2019-07-25 09:57] hasezoey commented on #237
currently, there are no tests for it, so i assume it dosnt work, at least its not officially supported

[2019-07-25 09:58] hasezoey commented on #231
you need to install the npm package "reflect-metadata", because the normal Reflect api dosnt supply these functions

@Ben305 this can be closed

[2019-07-25 09:59] hasezoey commented on #230
can it be that typegoose just dosnt fully work with the mongoose strict option?

[2019-07-25 10:00] hasezoey commented on #229
sorry, this is not possible in TS & JS, as far as i know

[2019-07-25 10:03] hasezoey commented on #216
in theory, gridfs works, but you need to define an own model/schema for it, but currently its not officially supported

@Ben305 could you label "enhancement"?

[2019-07-25 10:06] hasezoey commented on #211
i would help, but i would need to know these things first:
- is this still a problem with typegoose 5.8.1+
- and how its called (to exclude the type error / a misunderstanding)

[2019-07-25 10:11] hasezoey commented on #204
@Christilut @JakeAi @gentleShark is this still a problem with typegoose 5.8.1+?
when yes, could someone provide an reproduce-able code, that is not so long, thanks?

[2019-07-25 10:15] #231 closed

[2019-07-25 10:15] hasezoey commented on #192
in typegoose you can only do virtual properties with get- & setters
-> can it be done otherwise in mongoose? because currently it is only a pass-through, so when mongoose supports it, it should be possible

(i know this is old)

[2019-07-25 10:15] Jeff-Tian commented on #231
Thanks @hasezoey

[2019-07-25 10:17] hasezoey commented on #185
@Ben305 this can be closed because versions above 5.3 are released on npm

[2019-07-25 10:20] hasezoey commented on #158
https://github.com/szokodiakos/typegoose/blob/ea1c0ec6bbebdd6b27ba4580ec39c1d3535b2084/src/utils.ts#L81-L88

this should work, but it is not supported to use typegoose without mongoose / client side

[2019-07-25 10:21] #185 closed

[2019-07-25 10:23] hasezoey commented on #138
is this still a problem with typegoose 5.8.1+?

[2019-07-25 10:38] hasezoey commented on #150
you are searching for [gridfs](https://docs.mongodb.com/manual/core/gridfs/), for more on support in typegoose look in #216

@Ben305 this can be closed

[2019-07-25 10:39] hasezoey commented on #141
this can be closed because compound indexes are implemented

@Ben305

[2019-07-25 10:42] michaelbats opened #352 "uncaught global is not defined error, when trying to use interface/example object in external project, how to use just the models?"
Hi, I've been trying to use my exported models within my angular project -- this is strictly the types and some examples objects, the code compiles fine but then immediatelly throws
[code]
which seems to be due to Mongoose, although I don't need anything from mongoose/typegoose, the TS interface/type (which doesn't exist at runtime anyway) and the example model which doesn't use typegoose, just fi

[2019-07-25 10:43] hasezoey commented on #99
@HardySoftware this package is actively maintained (again?)

[2019-07-25 10:46] hasezoey commented on #95
this can be closed, because typegoose now uses "latest" mongoose, and is not statically defining it to one specific version

@Ben305

[2019-07-25 10:47] hasezoey commented on #86
thanks to #164, this is implemented, and can be closed

@Ben305

[2019-07-25 10:52] hasezoey commented on #76
@bitjson

not possible, because as the name says its "typescript" + "mongoose" = "typegoose" so by design, it will not be supported without mongoose, typegoose is just a "wrapper" for schemas & models, not for the functions

Update:
in v6.0.0, `mongoose` is still a peer-dependencie, but could be get as `import { mongoose } from "@hasezoey/typegoose"`

@Ben305  this can be closed

[2019-07-25 10:57] hasezoey commented on #75
@Alex27052007 when you still use typegoose / feathers-mongoose, could you please say if this is still an issue?
-> and when no-one has these issues anymore, please close it, thanks

[2019-07-25 10:59] hasezoey commented on #68
@pgsfredda, do you still have this issue with typegoose 5.8+? otherwise could you provide what is wrong / which error?

[2019-07-25 11:02] hasezoey commented on #64
this can be closed, because mongoose 5.0+ uses the default `Promise`, and typegoose uses an "up-to-date" mongoose version

@Ben305

[2019-07-25 11:04] hasezoey commented on #63
i think because of no response in a long time and no one other had issues like this, this can be closed...

@Ben305

[2019-07-25 11:05] hasezoey commented on #57
because of https://github.com/szokodiakos/typegoose/blob/ea1c0ec6bbebdd6b27ba4580ec39c1d3535b2084/src/prop.ts#L51

this can be closed

@Ben305

[2019-07-25 11:10] hasezoey commented on #352
from the error, it seems like this is not an typegoose error, and it is not officially supported in a browser

[2019-07-25 11:15] michaelbats commented on #352
@hasezoey  it seemed to actually need a polyfill -- but the error was only when trying to import stuff from that package. The fixes were angular-specific though. I added to my polyfills:
[code]

Now I'm a tad bit concerned about how the bundle size will be affected by using it like this, I can't seem to be able to use the models + examples without installing typegoose + mongoose + @types/mongoose

[2019-07-25 11:53] hasezoey commented on #43
thanks to #188 this can be closed

@Ben305

[2019-07-25 11:54] #57 closed

[2019-07-25 11:54] #63 closed

[2019-07-25 11:54] #64 closed

[2019-07-25 11:54] #43 closed

[2019-07-25 11:55] #141 closed

[2019-07-25 11:55] #150 closed

[2019-07-25 12:01] hasezoey commented on #352
this can be closed, because it dosnt seems like a typegoose issue & it is not officially supported to work in the browser / without node

@Ben305

if any news on this, please reply, thanks

[2019-07-25 12:09] hasezoey commented on #297
typegoose currently uses `mongodb-memory-server-global` for the tests (it is an in-memory version)
- to inspect the schema you can use `buildSchema` or `model.schema` to get the schema
- to inspect a model, just make a model
- to inspect a document, create one
all these above can be done without a mongoose connection, all other like `save`, `find` need a mongoose connection

does this solve your q

[2019-07-25 12:12] #95 closed

[2019-07-25 12:12] #86 closed

[2019-07-25 13:36] hasezoey commented on #45
currently in the tests is
https://github.com/szokodiakos/typegoose/blob/ea1c0ec6bbebdd6b27ba4580ec39c1d3535b2084/test/models/rating.ts#L8
and
https://github.com/szokodiakos/typegoose/blob/ea1c0ec6bbebdd6b27ba4580ec39c1d3535b2084/test/models/rating.ts#L19-L20

i dont know if this "fixes" the full issue here...

[2019-07-25 14:46] hasezoey commented on #275
i would consider this closed | solved, because of inactivity

@Ben305

[2019-07-25 14:49] #275 closed

[2019-07-25 15:24] michaelbats commented on #352
@hasezoey I agree there's no issue with typegoose -- but I was wondering if its worth looking at a way to export those types/examples without the need for mongoose/typegoose as a dependency?

Because all the types and objects have their interface based on a class that contains the @prop() and other decorators, attempting to use these in another app seems to need typegoose + mongoose to be present

[2019-07-25 15:26] hasezoey opened #356 "[Poll] Continuation of feature/4?"
*mainly targeting @Ben305 @vinczedani @szokodiakos, but feedback from anyone is appreciated*

I would ask if the continuation of the branch(/ something like that) would be appreciated?

Advantages would be:
- when using some thing like `await new DummyModel({prop: 'hi'} as DummyType).save();` would not in any case require the typegoose(current) function to build a model, but still require the virt

[2019-07-25 15:29] hasezoey commented on #352
@michaelbats you could still define everything in a different class(or in an interface if not needed at runtime) and just extend(/implement) it in the class along with typegoose

[2019-07-25 16:07] michaelbats commented on #352
@hasezoey  so I went a bit further down the rabbit hole, just to give you some context:

 - this is a lazy loaded module, the app works and its fine, the errors are thrown out when I load that specific lazy loaded module, it hasn't got anything to it.
- if I remove the references to stuff I'm using from that package, it loads and all is fine.

I just literally tested and all I had imported from th

[2019-07-25 17:39] #238 closed

[2019-07-25 17:40] #244 closed

[2019-07-25 18:03] #229 closed

[2019-07-25 18:16] hasezoey commented on #229
as an addition: it *would* be possible, but only when no options were given, but mostly they do, and #48 to be the coding style

[2019-07-25 18:50] #264 closed

[2019-07-26 01:44] aoi-umi commented on #340
you can try this
[mongoose-ts-ua](https://www.npmjs.com/package/mongoose-ts-ua)

[2019-07-26 07:37] gentleShark commented on #204
not sure if it's still a problem. I refactored my typegoose models to work around the problem. here's a simple setup to test to see if sub-documents with refs are possible now:
[code]

[2019-07-26 10:59] hasezoey commented on #204
@gentleShark was the problem only with type-graphql or without too? (not tested yet, just noticed `@Field()`

[2019-07-26 11:28] gentleShark commented on #204
the @Field() just snuck in there because I was copying from a model that
was also using type-graphql but the problem I encountered when trying to
store refs in sub-documents was strictly a typegoose issue.

On Fri, Jul 26, 2019, 6:59 AM hasezoey <notifications@github.com> wrote:

[2019-07-26 11:57] hasezoey commented on #204
@gentleShark just wanted to confirm that it is with only typegoose, thanks, will test later.

[2019-07-26 14:18] Christilut commented on #175
Generic version:

[code]

[2019-07-26 14:46] hasezoey commented on #204
@gentleShark i "improved" your example with:
- removing type-graphql things
- adding { ref: } to the prop options (where they should be)

and got no error, just works fine:
[code]

so i consider this as solved?
@Ben305 @Christilut

[2019-07-26 15:03] Christilut commented on #204
I'll have to refactor my code with the new typegoose version and run my tests. I'll try to do this in the next few days or so

[2019-07-26 15:12] hasezoey commented on #204
as a note for anyone coming by, [in this comment](https://github.com/szokodiakos/typegoose/pull/348#discussion_r307779538) is an example extension for typeguards

[2019-07-26 23:22] dragouf opened #357 "Is pre validate hook available"
I'm trying to use @pre 'validate' hook but it's seems not to be triggered. Is it available in typegoose ?

[2019-07-27 04:17] hasezoey commented on #357
all these hooks are supported with types in typegoose
https://github.com/szokodiakos/typegoose/blob/ea1c0ec6bbebdd6b27ba4580ec39c1d3535b2084/src/hooks.ts#L7-L17

[how to use them](https://github.com/szokodiakos/typegoose#pre)

[2019-07-27 19:58] hasezoey commented on #247
you made `!` which makes it "required" in typescript, but no `required` option in `@prop`
your error `Property 'verified' does not exist on type 'PropOptionsWithValidate'.` has nothing todo with the required function

does this solve it?

[2019-07-27 20:04] hasezoey commented on #247
https://github.com/szokodiakos/typegoose/blob/a3c7ceedc1e4818fe6282fef9218b23a00e73e74/src/prop.ts#L10-L12
https://github.com/szokodiakos/typegoose/blob/a3c7ceedc1e4818fe6282fef9218b23a00e73e74/src/prop.ts#L28-L31

these state that its possible, but currently there are no tests for it,
but it should work, because its just passed into mongoose, typegoose is not modifying it ...

[2019-07-27 20:07] hasezoey commented on #241
is this still a problem?

[2019-07-27 20:08] hasezoey commented on #242
@Ben305 this can probably be closed like described in the last comments...

[2019-07-27 20:11] #242 closed

[2019-07-27 20:17] hasezoey commented on #226
you should change it to
[code]
Note: you cant use interface for this

---

Not possible with reasonable type completion. (by design)

[2019-07-27 20:20] hasezoey commented on #209
this seems to be solved by #199, so i think its reasonable to be closed

@Ben305

[2019-07-27 20:21] hasezoey commented on #207
this can be closed because its like #242

@Ben305

[2019-07-27 21:35] hasezoey commented on #182
tested using
[code]

with log (excluding the mongoose inserts)
[code]

so it is confirmed

@Ben305 could you add label "bug"?

[2019-07-28 07:01] #207 closed

[2019-07-28 07:01] #209 closed

[2019-07-28 22:04] hasezoey commented on #198
your errors are just because its missing these functions, this is a mistake that could be fixed with (branch) `feature/4`, and i made a discussion in #356
so no, you are not doing anything wrong, currently the only fix is using `Partial<T>` or `Exclude<T>`

[2019-07-28 22:05] hasezoey commented on #181
not an error from typegoose

should be possible

[2019-07-28 22:07] hasezoey commented on #176
i think this can be closed, because its old and these function got reworked (multiple times?)

@Ben305

[2019-07-28 22:08] hasezoey commented on #178
its not a problem, because this key is stored securely at travis.com and the key in the config is just an auth key to access it, so not a problem

this can be closed
@Ben305

[2019-07-28 22:10] hasezoey commented on #156
i couldnt reproduce this and i dont know how you call / use it...

[2019-07-28 22:12] hasezoey commented on #137
because its about compound indexes:
thanks to #188 this can be closed

@Ben305

[2019-07-28 22:16] hasezoey commented on #99
@szokodiakos, if you ever come here again, i would apply as a maintainer to mainly tag issues and close them when needed

btw: how do you think typegoose has evolved since you "abandoned" it?

[2019-07-29 07:26] Nargonath commented on #198
Alright, thanks @hasezoey for your answer. In the end as I couldn't figure it out I went using plain `mongoose` but it might be useful to others. 👍

[2019-07-29 07:47] Ben305 commented on #99
It can fully support that, please add @hasezoey as maintainer

[2019-07-29 08:31] #137 closed

[2019-07-29 09:42] #261 closed

[2019-07-29 09:42] #166 closed

[2019-07-29 09:42] #232 closed

[2019-07-29 09:42] #303 closed

[2019-07-29 09:42] #298 closed

[2019-07-29 10:25] Ben305 commented on #356
@hasezoey I haven't looked into the feature/4 branch but when there are some useful features inside, I would love to see these changes in master.

Unfortunately, my time is very limited at the moment...

[2019-07-29 10:27] hasezoey commented on #356
currently `feature/4` removes the Typegoose class, and makes all functions inside not needing a class, so this would resolve these `setModelForClass` etc `is missing from T`

[2019-07-29 20:20] JensSteckhan opened #361 "[Question] Can't get mapProp to work"
Could someone enlighten me? I have been stuck with this for two days:

I have declared a Ratings class like this:
[code]
then I am trying it out:
[code]
I keep getting this error: `ValidationError: Ratings validation failed: userRatings: Cast to Map failed for value "Map { 'foo' => 42 }"`
What am I doing wrong?

[2019-07-29 20:35] JensSteckhan commented on #361
Fifteen minutes later, I have found the answer myself, sorry for bothering you:
The key in my real life example wasn't foo. It was a string that contained a dot.
That seems to be a Mongo restriction:
https://docs.mongodb.com/manual/reference/limits/#Restrictions-on-Field-Names

[2019-07-29 20:35] #361 closed

[2019-07-30 08:01] nllahat opened #362 "arrayProp of ObjectId error"
## Versions

- NodeJS: 8.8.1
- Typegoose(NPM): 5.8.0
- mongoose: 5.4.23
- mongodb: 3.4

## Code Example

[code]

## Do you know *why* it happenes?

Because in Typegoose version ~5.8.0  and ~5.9.0 the array of objectIds really sent as Array type to the mongoose schema function **interpretAsType** (mongoose/lib/schema.js) and it triggers this code (the error of **Invalid schema configuration** is th

[2019-07-30 08:54] hasezoey commented on #362
in typegoose 5.9.0+ it needs mongoose 5.6.7+
(just pointing it out)

---

and you are sure you dont want to use ref for this?

---

i looked into the source code, and between release 5.7.2 and 5.9.0, nothing has changed how the array is handled, only the mongoose version has changed

[2019-07-30 09:27] hasezoey commented on #362
found the error, its not an error with typegoose, but i could fix it in typegoose

description of the error:
the type `mongoose.Types.ObjectId` has `Type.name` of `ObjectID`, but mongoose expects `ObjectId`, will implement a workaround soon

[2019-07-30 09:39] hasezoey commented on #362
made an mongoose issue https://github.com/Automattic/mongoose/issues/8034

[2019-07-30 10:02] nllahat commented on #362
Thanks !

(just pointing it out)

Thanks. Will check if it is possible for us to upgrade.

Those objectIds are from another microservice in other db. so ref won't fit.

Thanks for helping. Waiting for the mongoose fix (:

[2019-07-30 15:00] hasezoey commented on #362
just wanted to confirm that it didnt got overseen, because that happened already :)

[2019-07-31 15:54] x3ro commented on #48
Mmh was this abandoned? I just ran into the same odd issue where I forgot a decorator, TypeScript was happy and then I got a missing method error at runtime :(

[2019-07-31 16:47] hasezoey commented on #48
All important comments on that:
https://github.com/szokodiakos/typegoose/issues/48#issuecomment-335081231

https://github.com/szokodiakos/typegoose/issues/48#issuecomment-335230928

https://github.com/szokodiakos/typegoose/issues/48#issuecomment-335282391

currently its a "won't fix"

(and @szokodiakos has "left" the project, and so left the branch `feature/4`, where it wasnt implemented, but i ma

[2019-07-31 16:52] hasezoey commented on #235
@Ben305 this can be closed because of no further infomation / no reproduce snippets

-> if someone still has this issue, please open a new issue with the infomations given

[2019-07-31 16:54] hasezoey commented on #177
this can be closed because of no feedback given from the original author if `@index` fixed it and no one other has had this issue

@Ben305

[2019-07-31 16:59] hasezoey commented on #165
not an issue with typegoose, because nothing with `hello` was given in the issue, if you still have this issue, please try typegoose 5.9+ and what `test-typegoose` is for a file / how its called, i dont see any problem with the model

[2019-07-31 17:07] hasezoey commented on #124
this can be closed, because i cant find any problem with `.id` or `._id` (with the latest mongoose & typegoose)

@Ben305

[2019-07-31 17:10] hasezoey commented on #121
the original issue is about "virtual properties", which is implemented

-> this can be closed
@Ben305

[2019-07-31 17:13] hasezoey commented on #106
will not be done, typegoose is just a typescript wrapper for mongoose, and nothing more, and angular is a frontend, typegoose & mongoose is for a backend

so a "won't fix"
-> this can/could be closed

@Ben305 could you apply the label "wont fix" & close this?

[2019-07-31 17:19] hasezoey commented on #29
this can be closed, because it is fixed
with https://github.com/szokodiakos/typegoose/issues/29#issuecomment-331274815

---

`const user: InstanceType<User> = await UserService.getOneByField('email', email);` or letting it untyped

@Ben305

[2019-07-31 17:24] hasezoey commented on #200
Duplicate of #54

@Ben305

[2019-07-31 17:26] hasezoey commented on #198
btw
original issue / title is about

which is implemented with `@mapProp({ of })` in #342

this can be closed

@Ben305

[2019-07-31 17:27] #235 closed

[2019-07-31 17:27] hasezoey commented on #265
this can be closed, because its not an typegoose issue (its an mongoose `.connect` issue, where `useCreateIndex` option is not set to true, like stated above)

@Ben305

[2019-07-31 17:27] #177 closed

[2019-07-31 17:28] #121 closed

[2019-07-31 17:28] #29 closed

[2019-07-31 17:28] #200 closed

[2019-07-31 17:28] #198 closed

[2019-07-31 17:35] #265 closed

[2019-07-31 17:36] hasezoey opened #365 "Release 6.0"
# (Pre)Release 6.0

- Spec is in this description, on what should have been included in 6.0
- actual changelog below (https://github.com/szokodiakos/typegoose/issues/365#issuecomment-520108444)

## Spec

*This is a list of proposed things for v6, and the checked ones made it into v6*

- [x] #356 #373 hasezoey#7 - Continuation of branch `feature/4`, to remove the Typegoose class [E][B]
- [ ] ~~#216

[2019-07-31 18:13] justinmchase commented on #265
But shouldn't you just call the right method instead? The warning is there to tell you to call a different method and setting that flag is to just ignore the warning, no?

[2019-07-31 18:19] #124 closed

[2019-07-31 18:20] justinmchase commented on #265
Ok I see, I didn't get that mongoose was abstracting over the two and the flag tells mongoose which api to use in the driver. I thought it was telling us to update the calling code but I see that typegoose is just calling `schema.index` which then calls into one or the other apis based on the flags.

Sorry for the noise, I get it now.

[2019-07-31 18:54] #106 closed

[2019-07-31 23:06] hasezoey commented on #289
(not an issue of typegoose, closing)

[2019-07-31 23:06] #289 closed

[2019-07-31 23:12] hasezoey commented on #266
when you want to get the schema from a model:
`Model.schema` (mongoose native)

when you want to get the schema from a document:
`doc.schema` (mongoose native)

when you want it before the model is build
`new Class().buildSchema()` since #341

this can be considered solved
@Ben305

[2019-07-31 23:14] hasezoey commented on #269
https://github.com/szokodiakos/typegoose/issues/269#issuecomment-485248496 should have fixed this, this can be considered solved

@Ben305

[2019-07-31 23:17] hasezoey commented on #222
sorry, but i know no way to fix this, because `ref` is just passed through to mongoose, and would have to implement schema handling in typegoose itself

-> is this still a problem?

[2019-07-31 23:20] hasezoey commented on #221
since #353 you can use `@pre(/^update.*/, () => {})` (RegExp)

so this could be closed
@Ben305

[2019-07-31 23:23] hasezoey commented on #222
this could be considered as a duplicate of #211

[2019-07-31 23:27] hasezoey commented on #195
it is `@instancemethod` not `@instancemethod()`

this was never said, just considered to be in branch `feature/4`, which never finished

---

-> is this still a problem?

[2019-07-31 23:38] hasezoey commented on #116
is this still a problem?

---

@marcelh-gh

(in tsSubDoc.ts)
[code]
shoudnt it be an array? also `tgSubDocDetails[]`?

[2019-07-31 23:42] hasezoey commented on #116
i tested you repo, updated all dependencies, modified what said above, how it should be, and modified this below to work with above
[code]

and couldnt see any executing error, in db
[code]

i would say this somehow got fixed
@Ben305

[2019-07-31 23:44] hasezoey commented on #97
not an issue with typegoose, this can be closed
@Ben305

[2019-08-01 05:05] #97 closed

[2019-08-01 05:05] #116 closed

[2019-08-01 05:06] #222 closed

[2019-08-01 05:06] #221 closed

[2019-08-01 05:07] #269 closed

[2019-08-01 07:11] tmarhem commented on #204
Thanks for the help on this topic here.
I upgraded my typegoose to the lastest 5.9.0 version and I still have this issue.
In my case, I am trying to update a reference in a subObject of my model, and in that case it updates it as an object instead of only the object id.
@hasezoey The only difference I see with your example is 'as Partial<T>', could this have any impact on the expected result?

[2019-08-01 09:00] hasezoey commented on #204
you can just use `as ClassName`, but at somepoint (i dont know when) it will get wrong, and wants the functions form the Typegoose class, thats why i make it as `as Partial<ClassName>` because so it dosnt get this error, but makes *every* property "optional", and thats a problem, that i will try to fix in #365, you could use `Exclude<ClassName, something>`, but currently i dont know how to use thi

[2019-08-01 09:01] hasezoey commented on #204
@tmarhem could you give me an reproduceable example of how you use it that results in the object getting stored?

[2019-08-01 11:03] tmarhem commented on #204
`import { User } from './userModel';
import { pre, prop, arrayProp, Ref, Typegoose } from 'typegoose';
import { Skill } from './skillModel';
import { Client } from './clientModel';
import { Shared } from '../shared';

enum State {
    IN_DEVELOPMENT = 'IN_DEVELOPMENT',
    IN_PRODUCTION = 'IN_PRODUCTION',
    STAND_BY = 'STAND-BY',
    NEGOCIATING = 'NEGOCIATING',
    STOPPED = 'STOPPED',
    CANC

[2019-08-01 13:15] hasezoey commented on #204
@tmarhem, because it is so long, could you setup an reproduce-repo? (that includes everything needed and how its called?)

[2019-08-01 20:32] Ben305 commented on #365
My favorites are #356 and #258 👍

[2019-08-01 20:34] Ben305 commented on #356
I think it's worth it, even it's a breaking change.

[2019-08-01 22:46] hasezoey opened #366 "Rename InstanceType<T> to something not conflicting"
## Describe what you need | want

Rename `InstanceType<T>` to something not conflicting with typegoose's InstanceType

## Do you have already an idea for the implementation?

Rename it to `DocumentType<T>` or something like that

[2019-08-02 08:49] hasezoey opened #367 "Move from TSLint to @typescript-eslint/"
all imporant links:
- https://github.com/palantir/tslint/issues/4534 Reasons why
- [The new linter main repo](https://github.com/typescript-eslint/typescript-eslint)
- [Offical Statement of ESLint](https://eslint.org/blog/2019/01/future-typescript-eslint#the-future-of-typescript-on-eslint)
- [How it will be converted](https://github.com/typescript-eslint/tslint-to-eslint-config)

TL;DR: TSLint got

[2019-08-02 16:35] hasezoey commented on #362
the temporary fix #363 got merged, but still waiting on mongoose to fix it on their side

[2019-08-02 18:44] 1jerry opened #368 "5.9.0 undocumented target change to ES6 was breaking change for me"
Without changing my code, my deployments stopped working.  I tracked it down to an upgrade to typegoose, which my deployment process installed (with npm install --production) which I had not yet updated on the dev and QA machines.  typegoose 5.8.1 (and below) has been working fine for quite a while.  When it updated to 5.9.0 my code would no longer run, producing the following error.  (easily dupl

[2019-08-02 19:10] hasezoey commented on #368
first notes:
- typegoose 5.9.0 "requires" mongoose 5.6.7+
- could you post the tsconfig / say what your target for your project is? (es5?)

[2019-08-03 00:59] mfulop commented on #152
It is not a typegoose issue. The same wouldn’t work in pure mongoose either.

Mongoose checks the type property of the specified field schema object in order to figure out the type of the field and tries to instantiate it.

In other words, schema of embedded objects should not have a property named type because then mongoose will think that your object schema is a field schema descriptor.

[2019-08-04 17:49] hasezoey opened #371 "[Poll] add plugin mongoose-autopopulate as "native-typegoose"?"
*Title says all, respond with comments or reactions to this*

example:
[code]

[2019-08-05 09:51] shilangyu opened #372 "Validation is being ran on unset fields"
## Versions

- NodeJS: 12.7.0
- Typegoose(NPM): 5.8.1
- mongoose: 5.6.2
- mongodb: newest? (its ran on Mongo Atlas)

## Code Example

I have an optional field that lets say holds a middle name of a person. It is validated with a regex.
[code]

Mongoose allows unsetting fields by assigning `undefined` to it. Like so:
[code]

However this fails because: `Error [ValidationError]: Person validation fa

[2019-08-05 09:54] shilangyu commented on #372
To clarify, setting `undefined` did unset the field before I added a validation regex to it

[2019-08-05 11:37] hasezoey commented on #372
validation is not an issue with typegoose, the regexp in this case is passed to mongoose and mongoose runs the validation, sorry

[2019-08-05 12:16] hasezoey opened #373 "[Poll] #356 Implementation"
so `feature/4` will be integrated in 6.0.0, but now i wanted to ask what would be better:

* making the functions static and keep the Class as is, or
  -> this would mean that it is still included in the class which could be problematic in .create({} as Class)
* outsourcing all the functions and "remove" the class
  -> this would mean that it couldnt be called from the class, but wouldnt have the

[2019-08-05 12:21] hasezoey commented on #373
i will ping some people i know who work with typegoose, understand it a bit, and are active
(if you are one of the persons pinged, you dont need to answer this, but it would be good :) )
@Ben305
@mfulop
@PabloSzx
@nodkz
@naorzr

[2019-08-05 12:42] hasezoey commented on #356
Closed - It will be integrated in 6.0.0, but a poll about how in #373

[2019-08-05 12:42] #356 closed

[2019-08-05 12:47] nodkz commented on #373
Too many changes in https://github.com/szokodiakos/typegoose/compare/master...hasezoey:r6/outsource and it difficult to follow them for making the correct decision. Also, I try to find what exactly `feature/4` introduces and without luck.

[2019-08-05 12:56] shilangyu commented on #372
To fix it I added `{ validateBeforeSave: false }` to the `.save()` call.

@hasezoey if i find time i will check if this happens in mongoose too.

[2019-08-05 12:59] naorzr commented on #373
If it means that we wont have to extend Typegoose and then do new Foo().getModelForClass, I'm all up for that.
Multiple inheritance isn't supported, and mixin is a pain in the ass.
Removing Typegoose class will free up that slot.

[2019-08-05 13:02] hasezoey commented on #373
@nodkz, @nodkz described it correctly

[2019-08-05 13:28] nodkz commented on #373
Removing `new Foo().getModelForClass` sounds good! Need to test it in the real project when a beta will be ready.

But if it will be possible to provide both syntaxes in v6: a new without Typegoose class and the old with Typegoose class - it will be great! It provides a more seamless migration for existing apps.

[2019-08-05 13:36] hasezoey commented on #373
sorry, but this cant be done without breaking the new one...

[2019-08-05 13:45] hasezoey commented on #373
it is now implement in 72a2da7b11be1509227820e1285975d6bc8ec338,
free for anyone to test, but expect changes

and i dont know fully what these lines do, but they work
https://github.com/hasezoey/typegoose/blob/72a2da7b11be1509227820e1285975d6bc8ec338/src/typegoose.ts#L50-L53

[2019-08-05 14:12] 1jerry commented on #368
I _did_ use Mongoose 5.6.7.  It's just I was experimenting with many different things, and I wrote the wrong number, which I have corrected.  The deploy process just does a _npm install_, so it gets the latest version available of everything.

Here is my tsconfig:
[code]

[2019-08-05 14:17] hasezoey commented on #368
are you using typegoose in the browser?

typegoose (npm package) compiles to ES6, if you want to use ES5, you must use typegoose as a gitsubmodule, and reference it directly (`import * as typegoose from './typegoose/src/typegoose'`)

[2019-08-05 14:27] 1jerry commented on #368
I've always wondered about "dom" being there, but it never cause any harm so I didn't remove it.

I have used the same "target": "es5" ever since using typegoose and everything worked fine.  There is no mention of ES5 vs ES6 in the documentation.  So something changed that is a breaking change for me, and anyone else that has that setting.

I will adjust my tsconfig and let you know how it goes.

[2019-08-05 15:00] hasezoey commented on #368
sorry, thought it was in the release notes, it should have been, but here is the commit that changed it ea1c0ec6bbebdd6b27ba4580ec39c1d3535b2084

[2019-08-05 16:31] 1jerry commented on #368
I got version 5.9.0 to work now.
For future reference, I also had to add the line "module": "commonjs", in tsconfig because changing the target to ES6 will also change the default for the "module" setting.  If I _just_ changed the "target" setting, 4 of my npm packages could not be found (including typegoose) when I went to compile with TypeScript.  Why?  I haven't a clue.  But it seemed to be a T

[2019-08-05 16:38] hasezoey commented on #368
sorry, didnt know this, i always add this to my tsconfig

[2019-08-06 00:35] hasezoey commented on #258
I'm currently investigating this for release 6.0.0, but it seems like this cannot/should not be implemented in typegoose, here are the reasons:
- `const session = mongoose.startSession()` and the following `session.startTransaction()` have nothing to do with typegoose
- it cannot be tested without changing the tests to use (package)`run-rs`
- it works (with types and co) without Typegoose implemen

[2019-08-06 00:36] hasezoey commented on #365
#258 got removed from the spec, reasons in https://github.com/szokodiakos/typegoose/issues/258#issuecomment-518450690

[2019-08-06 03:44] MaxGeorgeBlack opened #374 "[Question] Can I add a label or comment to one property?"
In mongoose, I write one property with a label
`  name: {
    type: String,
    label: 'Customer name',
    max: 50,
    optional: true,
  },`

But it seems that "label" is not supported in typegoose. Any solutions or ideas?

[2019-08-06 05:41] PabloSzx commented on #373
Outsourcing the functions seems to be the best idea, since it also improves TypeScript class types for client usage, right now if you want to use the class for types in client TypeScript code, you get getModelForClass and setModelForClass in addition of the actual attributes 😢

[2019-08-06 15:06] hasezoey commented on #374
could you provide a link where mongoose documents this?

[2019-08-06 22:33] mfulop commented on #374
Some plugins like mongoose-json-schema are using this technique, and it makes sense to me as well. I simply extended the PropOptions declaration to allow this (I am on the phone but tomorrow I can show you how)

[2019-08-07 00:33] rafaelcorreiapoli opened #375 "[FP] get SchemaType option"
## Which feature

[code]

https://mongoosejs.com/docs/schematypes.html#schematype-options

## Why do you want it

I need to convert all my ObjectIds to strings

## Additional Notes

I need to preserve the name of the field (in this case, `userId`), so class getters and setters would not work in this case

Thanks!

[2019-08-07 00:39] hasezoey commented on #375
already done that:
https://github.com/szokodiakos/typegoose/pull/260
https://github.com/hasezoey/typegoose/issues/5
-> it will be included when 6.0.0 releases

[2019-08-07 00:59] rafaelcorreiapoli commented on #375
Nice! thanks :) I will close the issue

[2019-08-07 00:59] #375 closed

[2019-08-07 06:32] mfulop commented on #373
does this help? :) https://artsy.github.io/blog/2018/11/21/conditional-types-in-typescript/

[2019-08-07 06:57] mfulop commented on #374
@hasezoey for this reason I recommend keeping the current way of forwarding the whole provided PropOptions object to mongoose and I would also either document how to extend the declaration or add [k:string]: any to the PropOptions declaration

[2019-08-07 09:51] hasezoey commented on #374
will be added into 6.0.0 :)

[2019-08-07 09:53] hasezoey commented on #373
i later commits to r6/master, i understood it a bit more, but its still a bit of magic to it...

[2019-08-07 12:48] tmarhem commented on #204
@hasezoey as the project in our private company repository and this is a specific part of it I don't think I will be able/authorized to make a fucntionning repo out of it.
Concerning the Ref<T> subject at positions, the thing is my UserOfProject is a subobject but not a reference. I did this to better separate the different parts of my main class Project.
In the database, UserOfProject is a plain

[2019-08-07 13:24] hasezoey commented on #204
typegoose dosnt support plain objects
only nested schemas are supported (like you have done in the (long) example above)

---

i would just need to know the models that are used (stripped down to only the necessary parts) and how it is called to investigate this (i dont need the whole project...)

---

PS: sorry if some assumptions in this comment are wrong, because my last response is older then

[2019-08-07 14:40] tmarhem commented on #204
Here's an extract from Typegoose README:
[code]

If I translate it to my Issue it would be

[code]

Here, when I get the document and later save it, "cars" objects would be casted into their IDs but "jobCar" would not and saves as plain object.
So I guess I cannot use 'Job' as a Subclass containing a Ref if it is not going to be referenced as a Ref itself in the parent Object(here User)?
I'll try

[2019-08-07 14:46] hasezoey commented on #204
will investiage this, after i finished the next feature for r6

[2019-08-07 14:53] hasezoey commented on #240
i think this can be closed as a "wontfix" because i could find any api of mongoose documenting the use of options in virtual's
https://mongoosejs.com/docs/api/schema.html#schema_Schema-virtual
-> this only accepts options for "virtual-populate"

@Ben305

[2019-08-07 17:42] hasezoey commented on #368
@1jerry could you change the title to "5.9.0 undocumented target change to ES6"? thanks
(and close this, because its solved?)

[2019-08-07 17:46] hasezoey commented on #246
duplicate of szokodiakos#48

[2019-08-07 17:50] hasezoey commented on #223
@chianquan your question is a bit unclear to me, could you write a bit more what you request?

[2019-08-07 17:51] hasezoey commented on #220
This can be closed, because typegoose is not tied to a specific mongoose version anymore.

@Ben305

[2019-08-07 17:55] hasezoey commented on #192
this can be closed in favor of #260
-> included in 6.0.0 (since 6.0.0-9)

@Ben305

[2019-08-07 17:57] hasezoey commented on #196
passing enum to mongoose works, i dont know since when, but it works

-> this can be closed

@Ben305

[2019-08-07 18:00] hasezoey commented on #184
schema can be got by using `buildSchema`

this can be closed
@Ben305

[2019-08-07 18:03] hasezoey commented on #182
this got fixed by the rework of 6.0.0 (since 6.0.0-14)

[2019-08-07 18:04] hasezoey commented on #173
you need to make your own mongoose.type / mongoose.schema.type

[2019-08-07 18:04] hasezoey commented on #172
is this still a problem in the latest typegoose? (5.9.0)

[2019-08-07 18:05] hasezoey commented on #158
this can be closed

@Ben305

[2019-08-07 18:07] hasezoey commented on #157
-> is this still a problem in typegoose 5.9.0?

otherwise it is a problem by mongoose, because classes are converted to schemas, which aren't classes anymore, so super cant be used...

[2019-08-07 18:07] hasezoey commented on #120
this can be closed, because it got solved in the comment above

@Ben305

[2019-08-07 18:08] hasezoey commented on #119
@Ben305  this can be closed in favor of https://github.com/szokodiakos/typegoose/issues/374#issuecomment-519026965

[2019-08-07 18:10] hasezoey commented on #91
is this still a problem in typegoose 5.9.0 (latest) and if yes, is still still a problem when using typegoose 6.0.0-14+?

[2019-08-07 18:11] hasezoey commented on #117
this can be closed in favor of #332

@Ben305

[2019-08-07 23:57] hasezoey commented on #216
i investigated it and tried my best for this, here is the current state on it https://github.com/hasezoey/typegoose/pull/10

-> if anyone can/wants to continue it, please be free todo so

[2019-08-08 02:07] hasezoey commented on #365
The Current road-blocks for release 6.0.0 to be finished:
- as described in #355, the mongoose issue must be fixed first (release 1.9.2019?)
- reinvestigate #333 after all the changes

[2019-08-08 13:45] #368 closed

[2019-08-08 15:57] fabioformosa opened #376 "Validation error: two classes with same name conflict"
## Versions

- NodeJS: 8.10.0
- Typegoose(NPM): 5.9.0
- mongoose: 5.6.8
- mongodb: 3.2.3

## Code Example

I have 3 classes (two of them with the same name `Bar`):
* **Bar** with 3 fields (it has a Model)  `/src/model/bar/bar.ts`
[code]
NOTE: `fieldTwo` is **not** required!

* **Bar** with 2 fields (it hasn't a model, it's embedded into Foo) `/src/model/foo/bar.ts`
[code]
NOTE: `fieldTwo` is  requ

[2019-08-08 16:25] hasezoey commented on #376
currently classes with same name are not supported

[2019-08-08 16:39] hasezoey commented on #376
-> i will add an note to the documentation that this will **not** work

[2019-08-08 17:15] fabioformosa commented on #376
Ok thanks, a note into the documentation would have saved me a lot of time.

Is it in roadmap a support for class with the same name?

[2019-08-08 17:19] hasezoey commented on #376
because typegoose depends so heavily on this structure, at least not until version 7.0.0, and currently i dont see another way of doing it with all the features that we have

[2019-08-08 17:30] fabioformosa commented on #376
What a pity!

I find this lib very useful and I would like to use it in my project, but there are a lot of classes with the same name.

I would try to add this feature on my own and submit a PR.
Could you give me some hint?

I'm thinking to add a new decorator on class: `@Qualifier('classNameAlias')`.
If it's not provided 'as-is'.
It it's provided, typegoose uses it in place of actual class name.

[2019-08-08 17:35] hasezoey commented on #376
when you try this, please target it on the r6/master branch (in my fork, because i dont have write permissing yet here (original author abandonded it))

first look on how typegoose works, and then especially on how it stores names (example: Map<name, schema>)

try to use the existing `@modelOptions({})`

[2019-08-08 17:50] fabioformosa commented on #376
It's not clear to me.
If it's allowed to you to modify the doc adding the alert about class name clashing, why can't you write as well that this project is abandonated and redirect people to your active fork?

[2019-08-08 17:52] hasezoey commented on #376
look at https://github.com/hasezoey/typegoose/issues/1 currently @Ben305 is the active maintainer but is currently (one week) not here, and in the mean time i modified my fork with everything needed (github pages (if pushed to master), labels, auto-deploy)

[2019-08-10 01:16] hasezoey commented on #334
Closed - because it is included since 6.0.0-17

[2019-08-10 01:16] #334 closed

[2019-08-10 01:51] hasezoey commented on #365
*This is the changelog for 6.0.0, this will be modified until 6.0.0 releases*

The Changelog got moved into https://hasezoey.github.io/typegoose/changelog

all these changes are currently released under `@hasezoey/typegoose@next`

[2019-08-10 01:54] hasezoey commented on #373
i will close this because the implementation will stay how it currently is in 6.0.0

currently released under `@hasezoey/typegoose@next`

[2019-08-10 01:54] #373 closed

[2019-08-10 02:00] hasezoey commented on #332
discriminator support is added in 6.0.0-16, which can be tested at `@hasezoey/typegoose@next`

-> this can be closed
@Ben305

[2019-08-10 07:37] #332 closed

[2019-08-10 07:37] #376 closed

[2019-08-10 14:59] hasezoey commented on #366
Added/Fixed in 71e7269434a05b394acb3ecaf57fa9e98f70425f

[2019-08-10 14:59] #366 closed

[2019-08-10 15:26] nartc commented on #371
+1 this.

I've been trying to get autopopulate to work with Typegoose but I can't seem to get it to work. Here's what I've tried so far:

[code]

`@ExposedProp` is a custom decorator that combine `Expose` (from ClassTransformer) and `prop` so it's not a big deal. `Type` is also from ClassTransformer. Side note: I'm using ClassTransformer to play with some reflection.

Both `ref` and `refPath` does

[2019-08-10 16:45] hasezoey commented on #371
isnt this how it should work? ref is a reference to a doc in another collection (/ database), when you have such a problem, please open an issue for this

[2019-08-10 16:50] hasezoey opened #379 "Custom Options not passed through to mongoose & plugins when using ref"
## Versions

- Typegoose(GIT): 5d82c5a3bdc413aa9d78d7443bc892172a745476 (6.0.0-17)

## Code Example

[code]

## Do you know *why* it happenes?

yes, because for ref, itemsref, refpath, itemsrefpath are type & ref set, but options are not passed throught

[2019-08-10 21:51] hasezoey commented on #379
Fixed in 6.0.0-18 (97f0ba3e77b897169b252bafcd516a60716ac273)

can be used in `@hasezoey/typegoose@next`

[2019-08-10 21:51] #379 closed

[2019-08-11 09:18] hasezoey commented on #227
this should work in 6.0.0 (not tested yet), thanks to `@modelOptions`

[2019-08-11 09:43] hasezoey commented on #236
with this it seems like you are using mongodb native functions, so mongoose hooks, or even models dont hook to there, you must use mongoose models to use hooks

---

this can be closed as not an issue with typegoose

@Ben305

[2019-08-11 10:06] hasezoey commented on #56
got removed in 6.0.0

---

the user must pass it in, typegoose does not handle it (in the meaning of "importing" the module and giving the function to typegoose)

[2019-08-11 10:12] hasezoey commented on #129
this is not in scope, because typegoose wants to wrap the class(/schema) creation of mongoose, and does not want to modify any functionality of mongoose model functions

@Ben305

[2019-08-12 18:40] duro opened #380 "[ts-jest only] `enum` can only be set on an array of strings, not undefined"
## Versions

- NodeJS: 10.15.2
- Typegoose(NPM): 5.8.1
- mongoose: 5.6.9
- mongodb: 3.2.7

## Code Example

The below example is a sub-document of a parent Typegoose model

[code]

## Do you know *why* it happenes?

*no*

## Additional Notes

This only started appearing when we tried to upgrade from mongoose 5.6.5 -> 5.6.9.

Here is the full stack trace that throws in our tests:

[code]

[2019-08-12 20:48] hasezoey commented on #380
which typescript version?
and did you try typegoose 5.9.0 (or even 6.0.0)?

[2019-08-12 21:00] hasezoey commented on #380
Tested it, cant replicate it in 5.9.0 & 6.0.0-19

used code (syntax of 6.0.0):
[code]

[2019-08-13 13:12] ChrisLahaye commented on #365
@hasezoey many thanks for maintaining this awesome project!

[2019-08-13 19:08] duro commented on #380
@hasezoey upgrading to 5.9.0 did not seem to help. The only way I have been able to get tests to pass is by removing all Array Props from my model.

[2019-08-13 19:26] duro commented on #380
@hasezoey The odd thing as well is that this only appears to happen when running inside tests. If I manually test the service locally, I get no errors.

[2019-08-13 20:14] duro commented on #380
@hasezoey I was actually able to reproduce with a super minimal repo here:

https://github.com/duro/typegoose-repro

[2019-08-13 22:06] hasezoey commented on #380
@duro yes i can see the error, but i dont understand why it happenes, because it works in non-jest environments, like mocha, ts(compiled)...

[2019-08-13 22:21] hasezoey commented on #380
it seems like this is an issue with ts-jest, i dont know what causes it, and i will not be investigating further because i dont know & use jest (sorry), for now the only workaround is to compile the tests first and then run them OR dont use (ts-)jest

@duro could you add "[ts-jest only]" to your title?

[2019-08-14 01:40] wxs77577 opened #381 "[Question] How to use `Int32` schema type?"
https://www.npmjs.com/package/mongoose-int32

[2019-08-14 01:47] wxs77577 opened #382 "[Question] How to add global methods like `paginate()`"
I use a paginate plugin: https://www.npmjs.com/package/mongoose-paginate-v2

So I have to add a `paginate()` method in **all** models like this:

[code]

Is there any way to add this declaration globally?

[2019-08-14 01:55] hasezoey commented on #382
as far as i can tell (from a rough look at the readme/doc of this module), it is global across all models, and only a model function, so you could make a base model that has this function and all others can extend from it(so that not every model/schema has to include the definition)

[2019-08-14 01:57] hasezoey commented on #381
there was *somewhere* an documentation for "custom" types, but i cant find it, will probably add an test & documentation in 6.0.0

[2019-08-14 04:57] wxs77577 commented on #382
Thanks, but how could I pass `SiteSchema` to  the `BaseSchema` ?

[2019-08-14 11:49] hasezoey commented on #382
i dont know what these schemas are (i couldnt find it in the supplied link), i can only generally say this:

typegoose cant extend normal schemas, at least not without the user doing something, like if its a
plugin: the plugin functions must be defined in the class itself,

if its a schema that should be added: use `buildSchema` and modify your schema, use `addModelToTypegoose` (version 6.0.0+), t

[2019-08-14 20:03] lForain opened #383 "NPM install broken"
## Versions

- NodeJS: 0.0.0
- Typegoose(NPM): 0.0.0
- Typegoose(GIT): commithash
- mongoose: 0.0.0
- mongodb: 0.0.0

## Code Example
[code]

## Do you know *why* it happenes?

The last version published its broken in this part of the code, when i clone the lib from the latest commit and use it, it works fine. I was trying to fix it by every way thinking my code was wrong, but the version 5.9.0 it

[2019-08-14 20:12] hasezoey commented on #383
i dont understand what should be wrong with the currently published version of it (no one other seems to have this issue), could you try `@hasezoey/typegoose@latest`, and if this dosnt work `@hasezoey/typegoose@next`? (note: latest is 5.9.0 and next is 6.0.0)

[2019-08-18 19:54] hasezoey commented on #54
This seems to work in version 6.0.0

[2019-08-19 03:44] hasezoey commented on #383
btw you can install it as a git package `git+https://github.com/szokodiakos/typegoose.git#5.9.0`(or let everything behind `#` empty to get the **always latest** version

[2019-08-19 03:50] hasezoey commented on #367
Closing this for https://github.com/hasezoey/typegoose/pull/12

[2019-08-19 03:50] #367 closed

[2019-08-19 20:21] cesar3030 commented on #235
Hi there!

I'm still having the issue. I need `require: true` and `ref: user` to be in two different `@prop({...})` decorators if I want the require feature to work.

Does not work:
[code]

Does work:
[code]

I'm using Typegoose: ^5.7.2

[2019-08-19 20:42] hasezoey commented on #235
@cesar3030 we only support the latest version (currently 5.9.0), so please try to use this, if it still happens, please try to use 6.0.0 [#365]

[2019-08-19 21:01] cesar3030 commented on #235
I'll upgrade and keep you posted 👍

[2019-08-19 21:40] cesar3030 commented on #235
I upgraded Typegoose to 5.9.0, Mongoose and reflect-metadata to their latest version as well but it still does not work.

I couldn't install Typegoose 6.0.0 because this version does not appear in the list of versions.
Am I using the right command? `yarn add @hasezoey/typegoose@next`

[2019-08-19 22:13] hasezoey commented on #235
@cesar3030 i dont use yarn, but `npm i -s @hasezoey/typegoose@next`
[look here for the versions](https://www.npmjs.com/package/@hasezoey/typegoose)

[2019-08-19 22:41] cesar3030 commented on #235
OK I see the `6.0.0-21` tag. Thanks!
I'll give it a shot in the next days when I will have some time since there is some breaking changes and I need to migrate my codebase.

[2019-08-19 23:04] hasezoey commented on #235
In 6.0.0 there are many changes including incompatibilitys, here is the change log https://github.com/szokodiakos/typegoose/issues/365#issuecomment-520108444

[2019-08-20 06:59] #374 closed

[2019-08-21 19:48] B-Stefan commented on #365
@Ben305  Thanks for all the work that you already get done with Typegoos!
Saved us a lot of time!

What do you think about adding @hasezoey as a contributor to this project? It would simplify the organization for the 6.0.0 version.

[2019-08-21 19:50] hasezoey commented on #365
@B-Stefan collaborators cant add another collaborators, only the owner of the project can

[2019-08-21 21:14] Ben305 commented on #365
This is unfortunately true

[2019-08-22 17:11] hasezoey commented on #365
in version 6.0.0-22 the functions in the Typegoose-Class are re-added with a deprecation warning (and just as a pass-through to the new syntax)

[2019-08-22 17:11] hasezoey commented on #373
@nodkz in version 6.0.0-22 the functions are re-added with a deprecation warning (and just as a pass-through to the new syntax)

[2019-08-24 15:31] LeoBakerHytch commented on #196
I ran into this as well today. The issue only appears when using `--transpile-only`, in which case as @khashayar says, schema validation fails with the error `Type of type property is not a string.` It seems the reflected type is not identical when the flag is switched on.

I also found that the issue only appears if the enum is being referenced from another file — if it’s in the same file, there’

[2019-08-24 19:45] hasezoey commented on #196
sorry, there is nothing we as typegoose maintainers could do about it (at least i cant...), because your code seems correct, and without the flag it dosnt give any compile errors

which typegoose version did you use @LeoBakerHytch ? (could you try 6.0.0-22?)

[2019-08-25 12:38] LeoBakerHytch commented on #196
Hey, thanks for the quick response @hasezoey, and for the awesome work on this library!

I updated the linked gist to use 6.0.0-22. Same story unfortunately, it’s still broken with `ts-node --transpile-only`.

I also added a test case with `ts-node --transpile-only --type-check`, which does not fail. According to the ts-node docs, the effect of `--transpile-only` is to run the TypeScript compiler

[2019-08-25 12:42] LeoBakerHytch commented on #196
Just to say, I’ve had no response yet to my issue on ts-node (https://github.com/TypeStrong/ts-node/issues/873), but I’m expecting that it won’t be possible to fix the issue there. Either way, I think `enumProp` could still make sense.

[2019-08-25 13:02] LeoBakerHytch commented on #196
By the way, I spotted a mistake in the docs for `itemsRefPath`:
[code]
I guess `enum: 'Car' | 'Shop'` should be `enum: ['Car', 'Shop']`, right? Because `'Car' | 'Shop'` is a bitwise OR operation that evaluates to `0`. It doesn’t type-check, but I was a little confused by that when I was looking at `arrayProp` for comparison.

Happy to roll fixing that into a PR if you like.

[2019-08-25 19:57] hasezoey commented on #196
sorry i dont know what this options does, and typegoose is not designed to be isolated...

---

i generally appreciate PR's, but to accept it, it must meet the guidelines and then on the implementation (but on this specific case, i will first look into it)

---

Yes i know the validation is wrong, but because typescript is just a pre-processor, and not an actual language, and reflect-metadata dosn

[2019-08-25 20:09] hasezoey commented on #196
Additional Note:

https://github.com/hasezoey/typegoose/blob/730f60c3e9c69a7d1680e767b74d07d4b06a9476/src/prop.ts#L139-L144

this is the currently only instance enum is used in the prop file, and otherwise the handling of enum dosnt differ from the normal prop, so i think an "enumProp" would be too much, unlike an arrayProp, which is needed because it has many different options, incompatible optio

[2019-08-25 20:13] hasezoey commented on #196
a note got added in 806e870ad39519bd97ea978fcbff59463a8b42c9 to show that this module should not be used with that option alone

[2019-08-25 21:26] LeoBakerHytch commented on #196
I think you’re right that `enumProp` is overkill...

Digging into issues on ts-node and TypeScript some more, I found this comment on an issue which I think explains my problem:

— https://github.com/Microsoft/TypeScript/issues/16872#issuecomment-312378884

This is in reference to an issue about incorrect reflected types — basically the same problem as I’m having with the imported enum not being r

[2019-08-28 08:20] fabioformosa commented on #99
@szokodiakos, this project needs a quick action from you, please!
 As asked by @Ben305, it needs a second maintainer. Could you grant @hasezoey ?
Otherwise it will be inevitable to abandon this project and move on a fork.
Thank you.

[2019-08-28 13:59] techaks opened #385 "[Question] is there any way to ref custom id"

[2019-08-28 19:04] hasezoey commented on #385
please add more info, otherwise this cannot be answered

otherwise please look into https://github.com/szokodiakos/typegoose/pull/369

[2019-09-02 11:43] AyumiKai opened #386 "[Question] Populate Virtuals"
hey guys, how to define populate virtuals？

[2019-09-02 16:27] hasezoey commented on #386
*<sub>[Soon<sub>TM<sub/>](https://hasezoey.github.io/typegoose/docs/decorators/prop/#virtuals)*

[Currently in here](https://github.com/hasezoey/typegoose/tree/r6/master#virtuals) (For V6.0.0)

[2019-09-02 22:30] hasezoey commented on #280
https://github.com/Automattic/mongoose/issues/8115 ?

PS: there is not actually an example of how you call `.create`

[2019-09-02 22:33] hasezoey commented on #220
This might be the same issue as #380, this one can be closed in favor of #380

@Ben305

[2019-09-02 22:40] hasezoey commented on #246
<sub>I know this is an old question, but i will answer more detailed anyway</sub>

With version 6.0.0, typegoose uses `loadClass()`

What loadClass can do:
- load getters & setters
- load static methods
- load instance methods

What loadClass cannot do:
- make properties, that why `@prop` in typegoose exists
- make virtuals
- make schema Options as a decorator
- make indexes as a decorator

otherw

[2019-09-02 22:45] hasezoey commented on #195
As with version 6.0.0 `@instanceMethod` (& `@staticMethod`) are deprecated in favor of `schema.loadClass` (native from mongoose)

@Ben305 This can be closed

[2019-09-02 22:47] hasezoey commented on #186
as with version 6.0.0 model options are moved to the `@modelOptions` decorator

@Ben305 This can be closed

[2019-09-02 22:48] hasezoey commented on #178
btw in version 6.0.0 / my fork, it got changed to be environment variables instead for a `secure:`

[2019-09-02 22:55] hasezoey commented on #88
This is as far as i can tell not an issue with typegoose, in mongoose it is a known issue when using "push to array" that causes error or inconsistency

@Ben305 This can be closed as not an issue with typegoose

[2019-09-03 05:36] #220 closed

[2019-09-03 05:36] #195 closed

[2019-09-03 05:36] #186 closed

[2019-09-03 05:36] #178 closed

[2019-09-03 05:37] #88 closed

[2019-09-03 07:21] #246 closed

[2019-09-04 01:53] AyumiKai commented on #386
thank you

[2019-09-04 01:53] #386 closed

[2019-09-05 15:12] ChrisLahaye commented on #362
@hasezoey still getting this error on ^5.9.0

[code]

I believe its related to this ObjectId vs ObjectID right?

[2019-09-05 15:20] hasezoey commented on #362
@ChrisLahaye, yes it got merged long ago, but since then @Ben305 has not made a new version, so it was never in a version yet, but it got fixed my mongoose itself now (i dont know the version anymore)

PS: as of version 5.9.1 it got released

[2019-09-08 09:43] hasezoey commented on #383
@Ben305 i think this can be closed

[2019-09-08 09:51] hasezoey commented on #352
@Ben305 i think this can be closed

if anyone has questions about this, please open a new at [hasezoey/typegoose](https://github.com/hasezoey/typegoose/)

[2019-09-08 09:55] hasezoey commented on #340
@Ben305 i think this can be closed

subdocuments (at least as Objects) are supported in 6.0.0 and subdocuments (without a schema) arnt supported by typegoose (by design), but there is a `buildSchema` function in v6.0.0 if needed

[2019-09-08 09:55] hasezoey commented on #320
@Ben305 this can be closed because it is included in v6.0.0

[2019-09-08 09:57] hasezoey commented on #319
@Ben305 this can be closed as "stale"

if someone still has problems with it, please open a new issue in [hasezoey/typegoose](https://github.com/hasezoey/typegoose/)

[2019-09-08 09:59] hasezoey commented on #335
Closing this because tests are in `r6/master`

[2019-09-08 09:59] #335 closed

[2019-09-08 09:59] hasezoey commented on #313
@Ben305 this can be closed because it is included in v6.0.0

[2019-09-08 10:02] hasezoey commented on #288
@Ben305 Bump to close

[2019-09-08 10:03] hasezoey commented on #241
@Ben305 this can be closed as "not an issue with typegoose" & "stale"

[2019-09-08 10:03] hasezoey commented on #240
@Ben305 Bump to close

[2019-09-08 10:04] hasezoey commented on #236
@Ben305 Bump to close

[2019-09-08 18:35] #383 closed

[2019-09-08 18:35] #352 closed

[2019-09-09 19:03] #320 closed

[2019-09-09 19:03] #319 closed

[2019-09-09 19:03] #313 closed

[2019-09-09 19:03] #288 closed

[2019-09-09 19:04] #241 closed

[2019-09-09 19:04] #240 closed

[2019-09-09 19:04] #236 closed

[2019-09-10 05:41] naorzr commented on #45
@hasezoey @Ben305  I think this can be closed, I've tested it and it seems to be working just fine for this kind of query
[code]

[2019-09-10 05:47] hasezoey commented on #258
@Ben305 Bump to close

[2019-09-10 05:47] hasezoey commented on #266
@Ben305 Bump to close

[2019-09-10 05:48] hasezoey commented on #357
@Ben305 this can be closed as "stale"

[2019-09-10 05:49] hasezoey commented on #251
Update from the mongoose issue:
- it got merged into 5.7
- 5.7 got released
- but there is are still some issues with it https://github.com/Automattic/mongoose/issues/8012#issuecomment-529763148

[2019-09-10 05:50] hasezoey commented on #243
this can be closed in favor of https://github.com/hasezoey/typegoose/issues/25

@Ben305

[2019-09-10 05:51] hasezoey commented on #227
this can be closed because it is included in v6.0.0 (to an extend)

@Ben305

[2019-09-10 05:51] naorzr commented on #45
@hasezoey honestly it works just fine for the queries OP specified.

defining class like in the example you brought
[code]

and doing query search with $nearSphere.

[2019-09-10 05:52] hasezoey commented on #212
this can be closed, because it is not an typegoose issue
-> in v6.0.0 the types for `@pre` & `@post` are updated, but still not an issue with typegoose

@Ben305

[2019-09-10 05:54] hasezoey commented on #193
i think this can be closed as "solved" / "stale" / "fixed in v6.0.0?"

@Ben305

[2019-09-10 05:55] hasezoey commented on #192
@Ben305 Bump to close

[2019-09-10 05:56] hasezoey commented on #45
i think this can now be closed as "solved"

@Ben305

[2019-09-10 05:57] hasezoey commented on #182
@Ben305 Bump to close

[2019-09-10 05:59] hasezoey commented on #142
this cannot be fixed in typegoose itself, because typegoose aims to be a wrapper for models & schemas, but dosnt want to modify any functionality after it, so "by design" this will not be fixed

@Ben305 this can be closed as "not an issue with typegoose"

[2019-09-10 05:59] hasezoey commented on #120
@Ben305 Bump to close

[2019-09-10 06:00] hasezoey commented on #130
this is included in v6.0.0

@Ben305 this can be closed

[2019-09-10 06:02] hasezoey commented on #91
@Ben305 this can be closed as "stale" & "no now info" (/ "probably fixed")

[2019-09-10 06:05] hasezoey commented on #76
@Ben305 Bump to close

[2019-09-10 06:05] hasezoey commented on #68
@Ben305 this can be closed as "stale"

[2019-09-10 06:06] hasezoey commented on #41
@Ben305 i think this can be closed

[2019-09-10 06:07] hasezoey commented on #28
this should work in v6.0.0

@Ben305 this can be closed

[2019-09-10 08:49] therealwolf42 opened #388 "[Question] Why is mapDefault not working with an object-value?"
I'm trying to get mapDefault to work with a map which has an object as value, but it just doesn't work.

What happens, is that the `book` object is being created, as well as the `data` nested-object, but the color property doesn't have a default map value.

Below is the code I'm using as example:

[code]

Is there something I'm doing wrong? Thank you!

[2019-09-10 09:16] hasezoey commented on #388
<sub>please create new issues on the new repo, thanks</sub>

*Please know that all below is for version 6.0.0*

1. mapDefault got removed, use `default` instead (to remove confusion, and because it was just an unnecessary layer)
2.
here is your (minified) solution:
[code]
result (console output):
[code]

[2019-09-10 10:04] #28 closed

[2019-09-10 10:04] #41 closed

[2019-09-10 10:25] therealwolf42 commented on #388
Thank you! Looking forward to the 6.0.0 release.

[2019-09-10 14:10] #76 closed

[2019-09-10 14:10] #91 closed

[2019-09-10 14:21] #130 closed

[2019-09-10 14:21] #120 closed

[2019-09-10 14:21] #142 closed

[2019-09-10 16:33] #45 closed

[2019-09-10 16:34] #192 closed

[2019-09-10 16:34] #193 closed

[2019-09-10 16:34] #212 closed

[2019-09-10 16:34] #227 closed

[2019-09-10 16:34] #243 closed

[2019-09-10 16:35] #357 closed

[2019-09-10 16:35] #266 closed

[2019-09-10 16:35] #258 closed

[2019-09-12 14:13] hasezoey opened #389 "Delete branch feature/4"
I think branch `feature/4` can be deleted now

Reasons:
- version 4 is already released, a long time ago
- it got remade in version 6

@Ben305 (can be closed, when deleted)

[2019-09-12 14:15] hasezoey commented on #230
@Ben305 this can be closed as "stale" / "no further info"

if someone still has the these problems in version 5.9 and up, please open a new issue in the new repo

[2019-09-12 14:17] hasezoey commented on #225
@Ben305 this can be closed as "stale" / "fixed"

we use (since ~5.8) `typedoc` to generate our docs, and in the new repo even github-pages are made

and when you mean that typegoose communicates with a doc-lib, no it dosnt, but it should work anyway

[2019-09-12 14:19] hasezoey commented on #223
@Ben305 this can be closed as "stale" & "unclear"

inheritance is supported in 5.7+ (this is the first version i know has stable inheritance)

[2019-09-12 14:20] taimooralam opened #390 "[Question] Additional properties in typegoose?"
Mongoose can enable [adding of additional properties](https://mongoosejs.com/docs/guide.html) on objects by setting the `strict` flag to `false`.

`var thingSchema = new Schema({..}, { strict: false });`

I am looking to add custom properties to typegoose objects. Is this possible to do in typegoose?

[2019-09-12 14:20] hasezoey commented on #173
@Ben305 this can be closed as "stale" / "fixed?"

[2019-09-12 14:21] hasezoey commented on #165
@Ben305 this can be closed as "stale"

if anyone still encounters this problem in version 5.9 and up, please open a new issue in the new repo

[2019-09-12 14:22] hasezoey commented on #158
@Ben305 this can be closed as "fixed" & "stale"

[2019-09-12 14:24] hasezoey commented on #390
when you use version 6.x.x:
[code]

in v ~5.5+
[code]

does this solve your issue?

PS: please dont open new issues here, use the new repo

[2019-09-12 14:26] hasezoey opened #391 "Please use the new Repository to open new issues"
*This issue is made to notify People that are still here and create new issues / Pull Requests*

Please use the [new Repository](https://github.com/hasezoey/typegoose) to open new issues
<br/>
<br/>
<br/>

(Please dont close this)

[2019-09-12 15:35] remidej commented on #230
I'm sorry I can't provide more details, I removed Typegoose from my project after getting stuck on this issue

[2019-09-12 19:58] #165 closed, assigned to nobody

[2019-09-12 19:58] #223 closed, assigned to nobody

[2019-09-12 19:59] #389 closed, assigned to nobody

[2019-09-13 12:50] uniquenode commented on #362
@hasezoey can you update your fork to mongoose 5.6.9 such that mongoose exports ObjectID (which I believe is used in the union type Ref)

[2019-09-13 13:10] hasezoey commented on #362
@ChrisLahaye typegoose v6.0.0 uses 5.7, after arrayvalidators get merged

but v5.x will not get and updated mongoose, otherwise, it works with every mongoose, because it is a peer dependency

[2019-09-14 18:07] hasezoey commented on #211
this should be fixed with v6.0.0

@Ben305 this can be closed

[2019-09-14 18:08] hasezoey commented on #156
@Ben305 this can be closed as "questions - solved" / "not an issue with typegoose" / "its handeled in typegoose"

[2019-09-14 18:11] hasezoey commented on #138
@Ben305 this can be closed as "stale"

[2019-09-14 18:12] hasezoey commented on #134
@Ben305 this can be closed

[2019-09-14 18:13] hasezoey commented on #174
Duplicate of #138

@Ben305 this can be closed

[2019-09-14 18:14] hasezoey commented on #172
@Ben305 this can be closed as "stale"

if someone still has this problem, please feel free to open a new issue at the new repo

[2019-09-14 18:15] hasezoey commented on #157
this inheritance should work in versions 5.9+ (might be even versions before)

@Ben305 this can be closed

[2019-09-14 18:16] hasezoey commented on #129
@Ben305 Bump to close

[2019-09-14 18:16] hasezoey commented on #85
@Ben305 this can be closed as "fixed" & "stale"

[2019-09-14 18:17] hasezoey commented on #48
this is included / removed in v6.0.0

@Ben305 this can be closed

[2019-09-14 18:20] hasezoey commented on #27
@Ben305 this can be closed in favor of https://github.com/hasezoey/typegoose/issues/36

[2019-09-14 18:20] hasezoey commented on #381
@Ben305 this can be closed in favor of https://github.com/hasezoey/typegoose/issues/36

[2019-09-14 18:21] hasezoey commented on #388
@therealwolf42 is your question solved, when yes could you close this issue?

[2019-09-14 20:03] #381 closed

[2019-09-14 20:04] #48 closed

[2019-09-14 20:04] #85 closed

[2019-09-14 20:04] #129 closed

[2019-09-14 20:04] #174 closed

[2019-09-14 20:12] #134 closed

[2019-09-14 20:12] #138 closed

[2019-09-14 20:12] #156 closed

[2019-09-14 20:13] #211 closed

[2019-09-14 20:14] #157 closed

[2019-09-14 20:14] #172 closed

[2019-09-16 13:49] hasezoey commented on #268
@Ben305 this could be closed as "stale" / "fixed"

if you still have this problem, and v5.9.x / v6.0.0's typeguards dont fix this, please feel free to open a new issue on the new repo

[2019-09-16 13:49] hasezoey commented on #281
@Ben305 Bump to close

[2019-09-16 13:51] hasezoey commented on #196
@Ben305 this can be closed as "fixed? (v6.0.0)"

[2019-09-16 13:55] hasezoey commented on #204
@tmarhem @Christilut @JakeAi is this issue still a problem with 5.9.x / v6.0.0?
when yes, please open a new issue at the new repo, thanks

@Ben305 this can be closed as "stale" / "fixed?"

[2019-09-16 13:56] hasezoey commented on #184
@Ben305 Bump for close

[2019-09-16 13:56] hasezoey commented on #68
@Ben305 this can be closed as "stale" / "outdated"

[2019-09-16 15:47] #268 closed

[2019-09-16 15:48] #281 closed

[2019-09-16 15:48] #196 closed

[2019-09-16 15:48] #204 closed

[2019-09-16 15:48] #184 closed

[2019-09-16 15:48] #68 closed

[2019-09-19 07:26] RyannGalea opened #392 "Pre hook supplied function error"
## Versions

- NodeJS: 11.14.0
- Typegoose(NPM): ^5.9.2
- mongoose: ^5.7.1

Not sure why I am having this issue, it seems intermittent and inconsistent.

Video example:
https://youtu.be/GdbmYId1DDw

          export const PreSaveNote = async function() {

            console.log('httpContext', httpContext.get('state'))

            const { user, business } = httpContext.get('state')
            if

[2019-09-19 07:52] hasezoey commented on #392
did you already test it with 6.0.0-x?

btw, what for an import thing do you use there (i ask because the `@something` (for paths) dosnt look right)

otherwise i dont see any problem how this could happen

---

PS: this is the wrong repo for this issue (you use `@hasezoey/typegoose`, not `typegoose`)

[2019-09-19 08:12] hasezoey commented on #392
after a test, i could not reproduce it in 5.9.2 or 6.0.0-28

[code]

[2019-09-19 09:01] RyannGalea commented on #392
I'm still getting on the newest 6 version, but it seems it's only is happening when I include the last line "await new NoteModel({...input}).save()", if I remove this line it seems to compile.

On the latest 6 versionI'm also getting

     (node:19124) DeprecationWarning: The Typegoose Class is deprecated, please try to remove it
     (node:19124) DeprecationWarning: Typegoose Class is Deprecated!

[2019-09-19 09:04] hasezoey commented on #392
thats because in v6.0.0 `extends Typegoose` is not needed anymore, so its deprecated and will be removed in future version

---

could you try `await NoteModel.create({...input})`

[2019-09-19 09:08] RyannGalea commented on #392
Shows me a little more info, '.create' didn't change anything from what i could tell.
`(node:11036) UnhandledPromiseRejectionWarning: TypeError: "Property.pre.save"'s function is not a function!
    at addToHooks (F:\prosperty\server\node_modules\@hasezoey\typegoose\src\hooks.ts:101:11)
    at F:\prosperty\server\node_modules\@hasezoey\typegoose\src\hooks.ts:77:29
    at DecorateConstructor (F:\pr

[2019-09-19 09:12] hasezoey commented on #392
could you edit your last comment to use a full code-block and not an inline-code-block?

otherwise, could you give me the `@pre` line it errors on?

[2019-09-19 09:21] RyannGalea commented on #392
If I duplicate and move all exported function directly into my @pre functions it seems to operate as normal.

          (node:9872) UnhandledPromiseRejectionWarning: TypeError: "Supplier.pre.save"'s function is not a function!
              at addToHooks (F:\prosperty\server\node_modules\@hasezoey\typegoose\src\hooks.ts:101:11)
              at F:\prosperty\server\node_modules\@hasezoey\typegoose\

[2019-09-19 09:31] RyannGalea commented on #392
I use the "path" field in my tsconfig.json to shorten my paths as shown here, even if i changed my import paths to a 'normal' import climbing the file tree I still get the error.

    "paths": {
      "@core/*": ["./core/*"],
      "@entity/*": ["./entity/*"],
      "@api/*": ["./api/*"]
    }

      import { Note, NoteModel } from '@entity/note/note.entity'
      import { PolygonGeometry } from '

[2019-09-19 09:59] hasezoey commented on #392
when i can trust the error, then the problem is `@pre(method: given, function: missing)`, so could you provide the line where `@pre` is called + the function("header")?

[2019-09-19 10:33] RyannGalea commented on #392
I'm not exactly sure what you mean Hase,

After doing some more digging in hooks.js, it seems that the pre method never gets the function once I use the @pre decorator more than three times when I include the "new NoteModel.save()" line.

When I remove that line it works every time.

I also changed my await statements to normal promise's and noticed no difference.

[2019-09-19 10:37] hasezoey commented on #392
example:

[code]

[2019-09-19 10:41] RyannGalea commented on #392
@ObjectType()
      @pre<Job>('save', PreSaveNote)
      export class Job extends CreatedTypegoose { }

      @ObjectType()
      @Index({ center: '2dsphere' })
      @Index({ addressString: 'text' })
      @Index({ addressId: 1, createdBusiness: 1 }, { unique: true })
      @pre<Property>('save', PreSaveNote)
      export class Property extends CreatedTypegoose { }

      @ObjectType()
      @pre

[2019-09-19 10:47] hasezoey commented on #392
question: does the following change affect anything?

[code]

[2019-09-19 11:00] RyannGalea commented on #392
No luck on my end, trying many different export types.

[2019-09-19 11:03] hasezoey commented on #392
i cant see a logical reason why this should happen, i will retry to reproduce it...

[2019-09-19 11:04] RyannGalea commented on #392
Yea it feels very odd to me, perhaps some outside issue here, would an older typegoose help?

[2019-09-19 11:21] hasezoey commented on #392
since that 5.9.x didnt work, an older wouldnt work too

[2019-09-19 11:36] hasezoey commented on #392
@RyannGalea now i tried 3 classes, same function each class & function in their own file (like you have), but it still works, i just cant reproduce it

[here is what i have done to test](https://github.com/hasezoey/typegoose-testing/tree/verifyS392)

do you see anything that you do different?

[2019-09-19 12:15] RyannGalea commented on #392
Just ran through your example and it runs fine. This is tricky, I'm not sure what is affecting it.

[2019-09-19 14:06] RyannGalea commented on #392
Ok,

So I have spent the last few hours on this and have finally fixed my issue I believe.

As Hasezoey pointed out I was using paths in my tsconfig.json to shorten & clean up my imports. I did this mainly to align the server code with my Angular code. When using @ paths typescript cannot resolve the module imports with tsc, so you have to use another package called 'tsconfig-paths' which resolves

[2019-09-19 15:03] hasezoey commented on #392
@RyannGalea i will add it to the "known issues" section as a warning for future users

because it is solved now, as a "not an typegoose issue", could you close it?

[2019-09-20 10:50] hasezoey commented on #19
@Ben305 this can be closed in favor of https://github.com/hasezoey/typegoose/issues/42

[2019-09-20 10:51] hasezoey commented on #27
@Ben305 Bump to close

[2019-09-20 10:52] hasezoey commented on #119
@Ben305 Bump to close

[2019-09-20 10:53] hasezoey commented on #132
@Ben305 Duplicate of #19

[2019-09-20 10:55] hasezoey commented on #82
@Ben305 this can be closed as "invalid" / "stale"

[2019-09-20 11:01] hasezoey commented on #146
@Ben305 this can be closed because all the PR's for this got closed / merged (into v6.0.0)

[2019-09-20 11:10] hasezoey commented on #143
@Ben305 this can be closed as "solved"

added documentation in https://typegoose.github.io/typegoose/guides/advanced/reference-other-classes/

[2019-09-20 11:12] hasezoey commented on #152
@Ben305 this can be closed as "solved" / "not an typegoose issue" / "cant fix"

TL;DR: this is not an typegoose issue, native mongoose wouldnt work too, as stated by @mfulop

[2019-09-20 11:13] hasezoey commented on #182
@Ben305 Bump to close

[2019-09-20 11:15] hasezoey commented on #237
@Ben305 this can be closed in favor of https://github.com/hasezoey/typegoose/issues/36

[2019-09-20 11:34] hasezoey commented on #247
@Ben305 this can be closed as "invalid" / "stale"

added a test in v6.0.0, and i had no problems

[2019-09-20 12:34] hasezoey commented on #267
@Ben305 Bump to close

[2019-09-20 12:49] #152 closed

[2019-09-20 12:49] #182 closed

[2019-09-20 12:49] #82 closed

[2019-09-20 12:50] #132 closed

[2019-09-20 12:50] #119 closed

[2019-09-20 12:56] #27 closed

[2019-09-20 12:56] #19 closed

[2019-09-20 12:57] #247 closed

[2019-09-20 12:57] #267 closed

[2019-09-20 12:57] #237 closed

[2019-09-20 16:42] #388 closed, assigned to nobody

[2019-09-20 17:02] #146 closed

[2019-09-22 11:32] RyannGalea commented on #392
The issue seems to be back, investigating some more.

[2019-09-22 12:20] hasezoey commented on #392
what is causing the issue this time?... /s

i would try to help, is it with the same example again?

[2019-09-22 12:35] RyannGalea commented on #392
I'm pretty sure that I am narrowing it down to a conflict with 'type-graphql' package & union types.

It's hard to track down because It's so intermittent.

[2019-09-23 05:43] gentleShark commented on #143
@hasezoey fyi, got a 404 when I followed the link

[2019-09-23 07:58] hasezoey commented on #143
because the github repo changed (to typegoose), the link is now https://typegoose.github.io/typegoose/guides/advanced/reference-other-classes/ , sorry

[2019-09-26 09:52] gentleShark commented on #143
good to know! no worries

[2019-09-26 18:03] hasezoey commented on #365
I think version 6 is now stable enough, with many features & bug fixes, so i think to release it on the 30.9.2019

Please know that the new releases only come out on the new repo https://github.com/typegoose/typegoose
and under the package `@typegoose/typegoose`, but pre-releases are currently in `@hasezoey/typegoose`

[2019-09-26 18:06] hasezoey commented on #385
@Ben305 this can be closed as "stale"

[2019-09-26 18:07] hasezoey commented on #390
@Ben305 this can be closed as "stale" & "solved?"

[2019-09-26 18:08] hasezoey commented on #392
@RyannGalea any news on this?

[2019-09-26 18:08] hasezoey commented on #372
@Ben305 this can be closed as "not an issue with typegoose"

[2019-09-26 18:10] hasezoey commented on #362
@Ben305 this can be closed as "fixed" - in version 5.9.1

[2019-09-26 18:24] hasezoey commented on #226
with v6, you can use mongoose's discriminators

@Ben305 this can be closed as "stale" and "solved?"

[2019-09-26 18:27] hasezoey commented on #181
sorry, my previous comment was wrong, thanks to @mfulop you can now use types that are *not* ObjectID

@Ben305 this can be closed as "solved" - thanks to #369

[2019-09-26 18:29] hasezoey commented on #84
@Ben305 this can be closed as "stale" - because it didnt got an update / someone that encounterd this issue again since december 2017

[2019-09-26 18:30] hasezoey commented on #54
@Ben305 this can be closed because this should work in 5.9.0+

[2019-09-26 18:32] hasezoey commented on #50
@Ben305 this can be closed as "not an issue with typegoose" - limitation of javascript

if someone has this error, please look at https://typegoose.github.io/typegoose/guides/advanced/reference-other-classes/

[2019-09-26 18:33] hasezoey commented on #72
@Ben305 this can be closed as "stale" & "fixed?" - no-one encountered this again since January 2018, and should be working with v6

[2019-09-26 18:46] #72 closed

[2019-09-26 18:46] #50 closed

[2019-09-26 18:46] #54 closed

[2019-09-26 18:46] #84 closed

[2019-09-26 18:46] #181 closed

[2019-09-26 18:46] #226 closed

[2019-09-26 18:54] hasezoey commented on #122
@Ben305 i think this can be closed as "stale"

[2019-09-26 18:55] hasezoey commented on #297
@Ben305 this can be closed as "stale" & "solved?"

[2019-09-26 20:38] #122 closed

[2019-09-26 20:38] #297 closed

[2019-09-27 15:34] henriquetatagiba commented on #143
@hasezoey what about subdocuments like `@arrayProp({ items: Test })`?

[2019-09-27 15:38] hasezoey commented on #143
@henriquetatagiba the same should be working for arrayProp (put it as a string instead of a reference)
-> if it dosnt work, please open a new issue

[2019-09-28 03:53] RyannGalea commented on #392
I have opened an issue with 'type-graphql' but have not had the time to investigate the issue any further.

I have removed the need to use the union in my schema for the time being to continue development.

[2019-09-30 04:43] kdong007 opened #393 "TypeError: Class constructor Typegoose cannot be invoked without 'new'"
## Versions

- NodeJS: 10.15.3
- Typegoose(NPM): 5.9.1
- mongoose: 5.7.1

## Code Example
simply copy-paste from README
[code]

tsconfig:
[code]
## Do you know *why* it happenes?

*no*

[2019-09-30 09:27] hasezoey commented on #393
#391

otherwise, i dont see an issue with this, what is your typescript version?

[2019-09-30 11:23] hasezoey commented on #365
Closing this because Version 6.0.0 got released, under the package name `@typegoose/typegoose`

[here is the changelog](https://typegoose.github.io/typegoose/changelog#600)

[2019-09-30 11:23] #365 closed

[2019-09-30 11:24] hasezoey commented on #391
@Ben305 if you want you can execute `npm deprecate typegoose "This package got moved to @typegoose/typegoose"` to fully migrate to the new package

[2019-09-30 11:27] hasezoey commented on #216
@Ben305 this can be close in favor of https://github.com/typegoose/typegoose/pull/10 for full migration

[2019-09-30 11:28] hasezoey commented on #321
this can be closed as "stale" / "fixed?"

if anyone still has this problem in version 6.0.0 or higher, please open a new issue at the new repo

@Ben305

[2019-09-30 11:28] hasezoey commented on #340
@Ben305 Bump to close

[2019-09-30 11:29] hasezoey commented on #143
@Ben305 this can be closed as "stale" & "fixed?"

if anyone still has this problem in version 6.0.0 or higher, please open a new issue at the new repo

[2019-09-30 11:30] hasezoey commented on #380
@Ben305 this can be closed as "not an issue with typegoose" / cant be fixed

[2019-09-30 11:31] hasezoey commented on #382
@Ben305 this can be closed as "solved" / "fixed"

to give a final answer:
to use global methods, create a class that has the type on it, and any class that should have this type should extend it, and then apply the plugin globally to mongoose (i cant say for sure, because i dont work with plugins)

[2019-09-30 11:32] hasezoey commented on #372
@Ben305 Bump to close

[2019-09-30 11:32] hasezoey commented on #385
@Ben305 Bump to close

[2019-09-30 11:33] hasezoey commented on #251
@Ben305 this can be closed in favor of https://github.com/typegoose/typegoose/pull/29

[2019-09-30 11:34] hasezoey commented on #117
@Ben305 Bump to close

[2019-10-01 12:19] #393 closed, assigned to nobody

[2019-10-01 21:39] mschnee commented on #340
Agreed, it's an acceptable solution :)

[2019-10-01 21:39] #340 closed

[2019-10-02 17:56] #117 closed

[2019-10-02 17:57] #251 closed

[2019-10-02 17:57] #372 closed

[2019-10-02 17:57] #382 closed

[2019-10-02 17:57] #385 closed

[2019-10-02 17:57] #380 closed

[2019-10-02 17:58] #143 closed

[2019-10-02 17:58] #321 closed

[2019-10-02 17:58] #216 closed

[2019-10-02 18:12] hasezoey commented on #390
@Ben305 Bump to close

[2019-10-02 18:12] hasezoey commented on #176
@Ben305 Bump to close

[2019-10-02 19:08] #176 closed

[2019-10-02 19:08] #390 closed, assigned to nobody

[2019-10-07 15:27] DonsWayo commented on #172
I have the same problem Error: First param to `schema.plugin()` must be a function, got "object"

`@staticMethod
  static findOrCreate(condition: DocumentType<User>): Promise<{ doc: DocumentType<User>, created: boolean }> {
    const find = User.findOrCreate (condition).then((data) => {
      console.log(data);
      return data;
    }).catch ((error) => {
      return error;
    });
    return fi

[2019-10-07 15:29] hasezoey commented on #172
@DonsWayo what plugin do you use and how do you apply it (`@plugin`)

[2019-10-07 20:47] hasezoey commented on #75
@Ben305 i think this can be closed as "stale" - because of no further infomation of @Alex27052007

[2019-10-08 06:06] DonsWayo commented on #172
@hasezoey I have this class, I upgrade to the new repository and make the breaking changes, this is my model that make the problem

[code]

[2019-10-08 11:01] hasezoey commented on #172
@DonsWayo please reformat your last comment https://guides.github.com/features/mastering-markdown/

---

why do you have a plugin AND a mehtod that defines it?

and because typegoose uses this plugin for the tests, [look here](https://github.com/typegoose/typegoose/blob/master/test/models/user.ts) for infomation of how to use it

[2019-10-08 15:00] DonsWayo commented on #172
In previos old version this works fine without problem, I try the solution of the file that you mentioned and still have the same issue.

[2019-10-08 16:37] hasezoey commented on #172
@DonsWayo if you still have this problem (what you probably have), could you please open a new issue on the new repo / or ask again in discord?

[2019-10-08 16:51] hasezoey commented on #362
@Ben305 Bump to close

[2019-10-08 17:56] hasezoey commented on #371
i will close this here, because the "design goal" hasnt changed in typegoose to implement such thing, but since version 6.0.3, default class for `mongoose-findorcreate` got added, and the `autopopulate` PropOption for `mongoose-autopopulate`

[2019-10-08 17:56] #371 closed

[2019-10-08 22:44] letsbelopez commented on #160
How would you make schemaOptions required for a Model Class? I can't think of a way to do it.
I can force a model to have a property by implementing an interface but how do I force a Model to have a schemaOptions?

[2019-10-08 23:06] hasezoey commented on #160
what do you mean with this? schema Options cannot be forced in the sense like when calling `getModelForClass` (or buildSchema or anything like it)

but in version 6.0.0, you can make a base model where you can set a default value, that all classes that extend it inherit

[2019-10-12 06:26] #362 closed

[2019-10-22 03:54] NickBolles commented on #392
@RyannGalea do you have a link to the repo? there shouldn't be any issues with tsconfig paths. If you link me a repo that I can debug I can look into it.

[2019-10-22 03:59] NickBolles commented on #392
One thing that comes to mind is a circular dependency, so when `@Pre` is executed the function isn't resolved yet. You could try putting the entire `Contact` class definition (everything after the imports) in a `setTimeout()` and see if the issue still happens. If not, then you probably have a circular dependency

[2019-10-22 04:55] hasezoey commented on #56
@Ben305 i think with the [new documentation](https://typegoose.github.io/typegoose/docs/decorators/plugins/) this can be closed

[2019-10-22 04:57] hasezoey commented on #75
@Ben305 Bump to close

[2019-10-22 07:00] hasezoey commented on #290
@Ben305  thanks to [e87bb9d79a9382c13f3cef9f6749c953207ccd55](https://github.com/typegoose/typegoose/commit/e87bb9d79a9382c13f3cef9f6749c953207ccd55) this can be closed

[2019-10-22 11:41] RyannGalea commented on #392
I will delve back into this tomorrow evening

[2019-10-22 12:45] #56 closed

[2019-10-22 12:45] #75 closed

[2019-10-22 12:47] #290 closed

[2019-10-22 21:21] hasezoey commented on #280
its a bit old now, but does it still happen with `6.0.x` (/ `6.1.0-6`)?

-> when possible please text it with `6.1.0-6` (or higher), because in that version it is reworked how array options are mapped

[2019-10-22 21:53] hasezoey commented on #392
when you test it again, did version `6.1.0-6` (or higher) change anything?

[2019-10-22 23:12] RyannGalea commented on #392
To clarify @hasezoey, the "Pre hook supplied function" topic problem has been resolved, as we have discussed through the discord. I will have a look at the union type issue.

[2019-10-22 23:20] RyannGalea commented on #392
So with version '6.1.0-6' I still get the
[code]

when using the following code:
[code]

The type-graphql code:
[code]

I just type it as ObjectId to continue working on it at the moment
[code]

[2019-10-23 00:05] hasezoey commented on #392
@RyannGalea i dont know type-graphql, but i just installed it to test this case again - could you provide me the class `CreatedTypegoose`? (couldnt find it anymore)

and a dummy `User`?

and what is `httpContext` / how to "mock" it?

and what is `_` for a package? `lodash`? `underscore`?

[2019-10-23 00:31] RyannGalea commented on #392
[code]

CreatedTypegoose is now named 'Globalfields and looks like this, the defaults just return a number / strings:
[code]

httpContext is the package 'express-http-context', i believe this was all an issue before i was even using this package:

Below is where context is set for using 'apollo-server-express' which just sets up my graphql server, type-graphql is just used to generate the schema.

[2019-10-23 00:48] hasezoey commented on #392
i cut down much (like commenting out the indexes, all httpcontext things, and all "UnixSeconds" calls), i still cant reproduce the your error with pre hooks ... but i didnt use type-graphql ... (i still search how to mock it without using express)

https://github.com/typegoose/typegoose-testing

[2019-10-23 01:28] RyannGalea commented on #392
I will create a project to try and trim everything back to simply create the error,

[2019-10-23 02:01] NickBolles commented on #392
@RyannGalea Try this for me.

In the file that's causing the error do this to confirm that PreSaveNote is getting imported
[code]

[2019-10-23 02:05] RyannGalea commented on #392
Results in
[code]

Here it is when i do not use the union"
[code]

[2019-10-23 02:36] hasezoey commented on #392
thanks @NickBolles , this gives me a hint at least

[2019-10-23 02:37] hasezoey commented on #392
@RyannGalea it is not a problem with typegoose, what @NickBolles pointed out is that the function `PreSaveNote` does not get imported the right way (it is `undefined` as the test showed us)

---

PS: for `DeprecationWarning: collection.ensureIndex is deprecated. Use createIndexes instead.
null` you should use `mongoose.connect('', { useNewUrlParser: true, useCreateIndex: true, useUnifiedTopology:

[2019-10-23 02:40] hasezoey commented on #392
@RyannGalea do you still use these `@core/` & `@entity/` like in your video?, when not, could you show it again?

[2019-10-23 03:14] NickBolles commented on #392
@RyannGalea Another troubleshooting step could be copy the PreSaveNote implementation into the file in question to eliminate any import issues.

Here's an update to your repo @hasezoey that has type-graphql running
https://github.com/NickBolles/typegoose-testing

[2019-10-23 03:25] RyannGalea commented on #392
See repository here guys, i have stripped it back to the very basics and i still have the error on my end. Please let me know if it reproduces on your end.

https://github.com/RyannGalea/typegooseErr

[2019-10-23 04:20] hasezoey commented on #392
got it, tested it, found something:

when doing some debugging like setting some random prop `export const s = "hello"` before anything else, it will show up in something like "JOB" when doing
[code]
result:
[code]

so it is something strange with js/ts import-export, not an typegoose issue

[2019-10-23 04:44] RyannGalea commented on #392
From what i'm reading about this import issue is circular dependencies, so I'm curious if that's the issue here and how i would resolve it, so many imports between the entities and API

[2019-10-23 04:51] RyannGalea commented on #392
Changing my imports as follows fixes the issue.

[code]

and importing as
[code]

[2019-10-23 05:18] hasezoey commented on #392
i dont know, from what i have seen in the example repo, there isnt any circular dependencies between the imports of "SaveNote"...

[2019-10-23 05:19] hasezoey commented on #392
i think this can be closed again because it is not an typegoose issue?

-> if it happens again, please open a new issue in the new repo

[2019-10-23 05:20] RyannGalea commented on #392
Ok, although it is not resolved i will close this for now.

[2019-10-23 05:20] #392 closed, assigned to nobody

[2019-10-23 05:20] hasezoey commented on #280
@Ben305 i think this can be closed as "stale"

-> if someone ever comes across this again, please open a new issue at the new repo

[2019-10-23 05:21] hasezoey commented on #392
didnt you say the change exports/imports have fixed it?

[2019-10-23 05:22] RyannGalea commented on #392
No i deleted that comment as it was a false flag.

[2019-10-23 05:23] hasezoey commented on #392
also when changing what you mentioned in the test repo, the compiled output didnt change

[2019-10-23 05:24] #280 closed

[2019-10-23 05:24] hasezoey commented on #392
nvm, found the circular dependencie:

`saveNote.middleware -> note.entity -> Job -> saveNote.middleware`

it is known in nodejs / js that this happens when it is circular

[2019-10-23 05:27] hasezoey commented on #392
@NickBolles thanks again for pointing this out

[2019-10-23 05:40] RyannGalea commented on #392
Wow, we got there in the end, Thanks to @hasezoey & @NickBolles

So in my  Pre function i removed the circular dependency import and moved it inside the function.

Before:
[code]

After:
[code]

[2019-10-23 05:42] hasezoey commented on #392
for some that have the same issue, [here is a blog post](https://medium.com/visual-development/how-to-fix-nasty-circular-dependency-issues-once-and-for-all-in-javascript-typescript-a04c987cf0de) that has an *ok* workaround, that dosnt need to use "require on the fly"

[2019-10-23 05:46] RyannGalea commented on #392
I'll have a look at this @hasezoey, but seeing it seems to only be an issue  inside of these pre functions i will likely stay with the require solution for now. I appreciate all the time spent on this.

[2019-10-24 01:19] NickBolles commented on #392
Sweet! I had a suspicion. But I'm surprised the setTimeout() didn't print it.

That blog post is good too.But yea, probably not worth the time.

[2019-11-01 18:06] cesar3030 commented on #346
@hasezoey  I have the same issue.

mongoose: **5.7.4**
@hasezoey/typegoose: **6.0.0-32**

Base Model:

[code]
Location Model:

[code]

Picture model:

[code]

When I add  2 pictures to the location's pictures, the two pictures have the same `createdAt` and `updatedAt` timestamp.

Here is how I add a picture to a location:

[code]

The weird  thing about it is that's the only entity I have this iss

[2019-11-01 18:10] hasezoey commented on #346
update to `@typegoose/typegoose@latest` / 6.0.4

---

what does `const newPicture = Picture.createModel();` do?

---

do you mean that when you just update one of them, both change?

---

otherwise, this dosnt seem to be an typegoose-created issue @cesar3030

[2019-11-01 18:55] cesar3030 commented on #346
Thanks for your quick response.

I updated to `@typegoose/typegoose@latest` and this is still happening if I don't use `@prop({ default: () => Date.now() })`.

`const newPicture = Picture.createModel();` does: `new getModelForClass(Picture)`

I mean: I add two different pictures and the second one has the same timestamp as the first one even if the second one has been added 20 seconds after the se

[2019-11-01 19:06] hasezoey commented on #346
is your setup like this below, or functions called again for each picture?

[code]

[2019-11-01 19:16] cesar3030 commented on #346
almost, nesty should be an array of refs.

[code]

[2019-11-02 07:00] hasezoey commented on #380
I ran your repo again, with latest `@typegoose/typegoose` (6.0.4), and upgraded:
- jest to 24.9.0
- ts-jest to 24.1.0
- typescript to 3.6.4
- mongoose to 5.7.7

and the test runs fine - i guess it got fixed now

[2019-11-03 06:12] ONeville commented on #179
More concise:

`
async findAll(): Promise<Player[]> {
       const players = await this.playerModel.find().exec();
       return players.map(async p => await p.populate({ path: 'items', model: 'Item' }).execPopulate())
 }

`
However loosing performance.

[2019-11-15 06:43] sverraest opened #395 "[Request] Setting Collection Name and other Schema options via annotation and reflections"
## Describe what you need | want

Is it possible to set the schema options on the document via reflection on the class annotation?
As this library already uses reflection this might be possible via class decorators, similar to how typeorm does this?

## Do you have already an idea for the implementation?

[code]

[2019-11-15 07:50] sverraest commented on #211
I'm still getting this in 6.1.2.
Creating a bidirectional Ref between two documents is throwing:

{ MongooseError: Invalid ref at path "registration". Got undefined }
(this is when I have an Invitation.registration and Registration.invitation one to one bidirectional setup).

[2019-11-15 09:31] #395 closed, assigned to nobody

[2019-11-15 10:30] hasezoey commented on #211
@sverraest when you have issues, please open a new issue, on the new repo

[2019-11-27 08:55] lcswillems opened #396 "[Question] Import ObjectId from Typegoose?"
Is it possible to import ObjectId type from Typegoose? If not, it would be convenient to be able to import it.

[2019-11-27 10:41] hasezoey commented on #396
typegoose dosnt use anything different than the mongoose `ObjectId`

PS: this repo / package is not supported anymore, please use the new https://github.com/typegoose/typegoose

[2019-11-27 11:44] lcswillems commented on #396
Sorry, I wanted to publish it in the other repo. I think you should archive this repository. Without this, it is very hard to see that this one is not the good one because this repo appears first in Google search results and there is no clear distinction.

I will open it in the other repo.

[2019-11-27 11:44] #396 closed, assigned to nobody

[2019-11-27 11:44] lcswillems commented on #396
You can also transfer issues from this repo to the good one.

[2019-11-27 12:23] hasezoey commented on #396
that is the reason a new repo was made in the first place, because i dont (and still dont) have any write permissions on this repo, that is why hasezoey/typegoose (and later typegoose/typegoose) was made

[2019-12-14 04:44] darbio commented on #136
@ssilve1989 what was your solution?

[2019-12-16 09:53] hasezoey commented on #136
@darbio please know that his repository is discontinued, if you have issues try upgrading to `typegoose/typegoose@6.x`

[2019-12-16 14:21] Laubeee commented on #307
I had the same issue, but somehow only when implementing a function that does a find on one Model but returns a different type (passed to the function as parameter, the idea is to aggregate some more info from other collections and return them in the original data object)
using `{ name: "ClassName" }` fixed it.
Using Typegoose 5.9.2

[2020-02-06 14:53] Laubeee commented on #143
I used this workaround and it introduced some weird behaviour in a totally different class where I still used `@prop({ ref: IdeaModel })`
It resulted in not being able to filter for this reference, e.g. `SomeModel.find({ ideaModel: "<ObjID>" })` didnt work. it worked when I used names also in that other class.

Bottom line: be careful with this workaround! probably its best to replace it **everywh

[2020-02-06 15:10] hasezoey commented on #143
@Laubeee this repository and plugin is deprecated, please use the new one https://github.com/typegoose/typegoose and when the issue still persists in 6.x, please open an issue there

[2020-02-13 06:55] akash-rajput commented on #290
There's missing documentation on this even in the new docs. Please consider adding. @hasezoey

[2020-02-13 13:51] hasezoey commented on #290
@akash-rajput i dont know what you mean https://typegoose.github.io/typegoose/docs/decorators/modelOptions/#runsyncindexes
-> if the issue persist, please open a new issue at the new repository

[2020-02-13 14:21] akash-rajput commented on #290
Ohh my bad. Came across this from a issue. Couldn't locate model options.
Thanks for the link :)

On Thu 13 Feb, 2020, 7:21 PM hasezoey, <notifications@github.com> wrote:

[2020-03-04 12:13] joravkumar commented on #175
It's not working in my case.
Can you please Explain how to use this with an example and how to make connection with using of typegoose.

[2020-03-04 12:50] hasezoey commented on #175
@joravkumar this repo & project got moved to a [new location](https://github.com/typegoose/typegoose) please open a new issue if you still encounter it

[2020-03-07 13:23] vanishdark commented on #258
Hey, maybe coming a lit late, but just to people arrive here looking for typegoose transactions, i have an example may you can use.

[code]

ofc you can turn this into async await., just follow the same logic

[2020-03-24 01:22] rohitpotato commented on #175
@hasezoey @Christilut Is ```usedb``` the most performant way to go for implementing multi tenancy?

[2020-03-24 09:27] Christilut commented on #175
I didn't use it at scale, only with a few users at a time but I didn't notice any problems

[2020-04-09 04:32] dandv commented on #391
You can [archive the repo](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/archiving-repositories), so people can't create new issues, and so that it's clear there's no ongoing development.

[2020-04-09 05:23] hasezoey commented on #391
@dandv from what i know, in "personal" repositories, only the owner can archive it

[2020-04-09 07:28] dandv commented on #391
Right, @szokodiakos, can you archive the repo please?

[2020-04-11 07:39] dandv opened #398 "Please archive this repo"
https://help.github.com/en/github/creating-cloning-and-archiving-repositories/archiving-repositories

[2020-04-19 22:33] gserracalahorra opened #400 "Is there any way to achieve schema inheritance with typegoose?"
Hi!

Is there any way to implement inheritance between two schemas? I'm going to explain it better.

I have a model called UserModel, and I have subclasses called FacebookLoginModel and GoogleLoginModel, both extendin the first one:

[code]
export class FacebookLoginModel extends UserModel {

/*
   some properties
*/

}

My problem is that I want to persist the different models in the same collect

[2020-04-19 23:27] hasezoey commented on #400
this repository is discontinued, [please see the new repository](https://github.com/typegoose/typegoose)

[2020-04-20 14:43] gserracalahorra commented on #400
Tahnks

[2020-04-24 15:24] Laubeee commented on #308
I basically have the same question. How am I supposed to convert a string to a ref-object?

If I do something like this
`const x: Ref<User> = new ObjectId("myhexstring");`
I get an error that ObjectId cannot be assigned to Ref type.
Currently I am doing some workaround like this:
`const x: Ref<User> = (new Types.ObjectId("myhexstring") as unknown) as Schema.Types.ObjectId;`
which is VERY ugly. Is

[2020-04-24 15:40] hasezoey commented on #308
@Laubeee please use [the new repository](https://github.com/typegoose/typegoose) for questions, this repo is not maintained anymore

[2020-04-24 17:50] Tobjoern opened #401 "[Question] Type of User.x property is not a y"
I have the following code in Typegoose:

[code]
The compiler throws the following error: Type of User.x property is not a string.
I just found the solution by trial and error, but I will still post this issue anyway, because I wasn't able to find the solution by googling, so maybe this will help someone else.
The solution to this is definitely defining the type like so:

[code]

[2020-04-24 17:50] #401 closed, assigned to nobody

[2020-04-24 18:18] hasezoey commented on #401
this repository is not maintained anymore, please use https://github.com/typegoose/typegoose

PS: you issue was using `!` and `| null` instead of an `?` (`required` is `false`)

[2020-04-24 19:03] Laubeee commented on #308
phew. It sure seems to be difficult to actually get an answer to questions in this repo. Nevertheless I am sure I won't be the last that's gonna be led here by google, so posting an answer here (if there is a simple one) would still be beneficial.
If there is none and this needs to be addressed as means of further development I will be happy to open a new issue in the new repo and link it here for

[2020-04-24 19:52] hasezoey commented on #308
@Laubeee i would like this repo to be archived (like #398) but only the repository owner can do this

i know, but i say this because much changed since the move to the new repo, because this one couldnt be maintained (the original author abandoned this project, and the other 2 maintainers that i know of either left or didnt have much time to review pr's and maintain this project)

the answer as lo

[2020-05-04 07:06] mouimet-infinisoft opened #403 "Is it possible to use getModelForClass with generics?"
Hi
Is there a way to get a the model with a generic type like following?

[code]

[2020-05-04 10:12] hasezoey commented on #403
this repository is not maintained anymore, please look at [the new repo](https://github.com/typegoose/typegoose)

[2020-05-14 18:39] alexeychikk commented on #338
@hasezoey Could you please help me with the same issue but for the nested property:
[code]

[2020-05-14 18:57] hasezoey commented on #338
@alexeychikk please use the [new repo](https://github.com/typegoose/typegoose) this one is deprecated

[2020-05-20 08:19] kuangshp opened #404 "[Question]"
I want the updatedAt field to be updated to the current time by default every time the data is updated，But I couldn't figure out how to solve the problem

[code]

[2020-05-20 09:53] hasezoey commented on #404
This repository is not maintained anymore, please look [at the new typegoose repo](https://github.com/typegoose/typegoose)

[2020-06-04 02:35] yKanon opened #405 "my populate field cant be queried out"
I need a virtual field so that it can be populated into response.

I do these in Course model.
![image](https://user-images.githubusercontent.com/19491751/83708147-206e9780-a64e-11ea-85c9-dd2e075ab935.png)
![image](https://user-images.githubusercontent.com/19491751/83707838-8eff2580-a64d-11ea-9500-17a1ac001802.png)
then. set prop course in Episode model
![image](https://user-images.githubuserconte

[2020-06-04 02:41] yKanon commented on #405
![image](https://user-images.githubusercontent.com/19491751/83708658-5c562c80-a64f-11ea-85a3-3844e73e03fa.png)
but the result is disapointed~:
![image](https://user-images.githubusercontent.com/19491751/83708714-80b20900-a64f-11ea-94fa-c3fa782cc0ff.png)
I think I have a right relationship between Episode and Course~
![image](https://user-images.githubusercontent.com/19491751/83708879-e69e9080-a64f

[2020-06-04 08:53] hasezoey commented on #405
@EX-EA this repository is not maintained anymore, please look at the [new repository](https://github.com/typegoose/typegoose)

[2020-06-04 09:58] yKanon commented on #405
ok, sorry~~

[2020-06-04 09:58] #405 closed, assigned to nobody

[2020-06-08 04:16] KanKai opened #406 "[Question]"
findOneAndDelete(Types.ObjectId(id)) not working @types/mongoose ^5.7.21

async deleteById(id: string): Promise<InstanceType> {
    return this._model.findOneAndDelete(Types.ObjectId(id)).exec();
}

[2020-06-08 06:31] hasezoey commented on #406
this repository is not maintained anymore, look at the [new repository](https://github.com/typegoose/typegoose)

[2020-06-16 13:01] rubenvereecken opened #407 "[Question] Problems reusing the same schema for both collection and subdocument"
Please see Automattic/mongoose#9128.

In short: I'm reusing a single schema for both a collection and as a subdocument. Indexes behave funny when I do so, because the collection's indexes are also used for the other collection where the collection's entries are subdocuments. I want to get rid of the indexes in the latter. This problem is a result of my database denormalisation.

There is a very he

[2020-06-16 13:29] hasezoey commented on #407
this repository is not maintained anymore, look at the [new repository](https://github.com/typegoose/typegoose)

[2020-06-16 16:35] #407 closed, assigned to nobody

[2020-06-26 13:55] sebastiangug commented on #258
@vanishdark

why are we using the object reference in the constructor when reading/modifying data?

If I have other unrelated queries that use the same object and then I abort my transaction, won't that abort all other operations as well?

[2020-07-04 11:48] LikhithKolayari opened #408 "[Question] Can we add custom error messages when @prop options fail?"
In Mongoose we can add custom error messages to override the default message that is thrown when inserting/updating data violates the Schema.
Eg:
[code]

[2020-07-04 17:34] hasezoey commented on #408
this repository is not maintained anymore, [look at the new repository instead](https://github.com/typegoose/typegoose)

[2020-07-05 18:12] #408 closed, assigned to nobody

[2020-07-05 18:13] LikhithKolayari commented on #408
Closing this thread as it is irrelevant

[2020-07-08 11:27] Tobjoern opened #409 "[Question] Are transactions supported for deleteMany?"
Hey, I noticed that the 'session' option (used for transactions) is not supported in the types (at least).
Now I'm wondering if it is at all supported for deleteMany?
Reading up online I noticed that deleteMany [wasn't supported](https://github.com/Automattic/mongoose/issues/6805) for quite a while, but now transactions are [supported](https://mongoosejs.com/docs/api.html#query_Query-setOptions) o

[2020-07-08 18:07] hasezoey commented on #409
this repository is not maintained anymore, [look at the new repository instead](https://github.com/typegoose/typegoose)

[2020-08-05 08:15] kkoomen opened #411 "[Question] Possible to have Query type support?"
I have a users service class like so (using NestJS):

[code]

The `User` schema can look like something like this:

[code]

When I have my controller with this:

[code]

This can be fixed for some part by modifying the `updateOne()` in the `UsersService` like so:

[code]

but the custom approach above doesn't work for fields named like `$addToSet`.

The `FilterQuery<T>`, `UpdateQuery<T>`, `CreateQ

[2020-08-05 08:20] hasezoey commented on #411
this repository and package is not maintained anymore, look at [typegoose/typegoose](https://github.com/typegoose/typegoose/) for an continuation

[2020-08-06 05:25] #411 closed, assigned to nobody

[2020-08-10 08:31] #409 closed, assigned to nobody

[2020-09-10 01:06] grreeenn opened #414 "bi-directional virtuals population issue"
## Versions

- NodeJS: 10.22.0
- Typegoose(NPM): 7.3.4
- Typegoose(GIT): commithash
- mongoose: 5.7.36
- mongodb: 4.0.20 Community

## Code Example

Thank you for your work - Typegoose makes life with Mongo and Typescript a breeze :)

I have a strange issue (probably, because I'm trying to do a strange thing).
In my use case, Users can follow each other, and these relations contain additional prop

[2020-09-10 01:21] grreeenn commented on #414
opened an issue on the new repo
https://github.com/typegoose/typegoose/issues/370

[2020-09-10 01:21] #414 closed, assigned to nobody

[2020-09-21 13:46] tzvc commented on #211
Hey there, I'm still getting the error with `7.3.2` any updates on this ?

[code]

[2020-09-21 14:00] hasezoey commented on #211
@theochampion no support here anymore, please open an new issue at the new repo

PS: this is an different error

[2020-11-27 21:44] dcarniel opened #416 "Cannot use same model on two connections."
In order to split database I'm trying to use the same model on multiple databases depending on context.

Unfortunately, when invoking the "getModelForClass" the internal cache used to build model only once ignores the connection (cf: https://github.com/szokodiakos/typegoose/blob/99f6be02dfb53c42fd5dd9209d4d73e4e2bcc97f/src/typegoose.ts#L51 ).

It would be interesting that this cache take the exist

[2020-11-28 09:39] hasezoey commented on #416
this repository is not maintained anymore, look at the [new repository](https://github.com/typegoose/typegoose)

[2020-11-28 09:57] dcarniel commented on #416
Sorry, I didn't check the actual repo. I copied my ticket there, thanks for your response.

[2020-11-28 09:57] #416 closed, assigned to nobody

[2020-12-08 16:46] khawarizmus commented on #392
@hasezoey is this issue related to to alias paths ? it seems to me after reading the chain of discussion that it's related to circular dependencies.

if that's the case i suggest we remove the reference of this issue in the known issues as an issue with [tsconfig-paths](https://typegoose.github.io/typegoose/docs/guides/known-issues#tsconfig-paths).

[2021-02-26 14:07] adil-waqar opened #417 "[Question] Is there a `required if` feature on model classes?"
Hello all. I just wanted to know if we could do something like this in our model definition:
[code]

[2021-02-26 17:33] hasezoey commented on #417
wrong repo, https://github.com/szokodiakos/typegoose/issues/391

PS: as you can see [in the mongoose documentation](https://mongoosejs.com/docs/validation.html) you can make more or less all validators from mongoose an function

[2021-02-26 17:44] adil-waqar commented on #417
Thank you!

[2021-02-27 09:31] #417 closed, assigned to nobody

[2021-03-19 05:21] nick4fake commented on #224
@JakeAi it doesn't work anymore https://github.com/microsoft/TypeScript/issues/39254

[2021-05-18 19:46] ondrej-langr commented on #172
For anyone stumbling upon this like I did - there is problem in import. I think its something to do with my tsconfig.json and target version but im not sure and I dont feel like investigating more since I've found the solution.

Which is in import and which has to be like:
`import { default as autopopulate } from "mongoose-autopopulate";`
(For me its autopopulate plugin - but im sure it will work

[2021-05-18 20:56] hasezoey commented on #172
@daichi-ranguru the tsconfig option that is probably causing this is `esModuleInterop`

PS: this is the old repo / project

[2021-06-15 14:47] manveetb opened #424 "Both updatedBy and CreatedBy are getting updated after update operation on model object"
In Mongoose model I am using schemaOptions timestamps: true to enable the mongo to record the createdAt and updatedAt timestamps. I was under impression that createdAt will always remain same and will not change after update operations but it keeps on changing same as updatedAt even after update. Any suggestions on how to correct it?

[2021-06-15 15:09] hasezoey commented on #424
unsupported repo, package and version, please use the maintained repository:
https://github.com/typegoose/typegoose/

[2021-06-15 15:28] manveetb commented on #424
Not following your above comment, can you be bit explicit what is expected for above question. Thanks

[2021-06-15 15:31] hasezoey commented on #424
sorry if it was not clear, read:
- https://github.com/szokodiakos/typegoose/issues/391
- https://github.com/szokodiakos/typegoose/issues/99

[2021-06-17 09:21] sudarshankj commented on #175
Use the following options to limit excessive memory consumption.

const useDbOptions = {
   // makes sure that connections are reused for existing tenants
    useCache: true,
    // no listeners are attached on the main connection.
    noListener: true
}
 mongoose.connection.useDb(databaseName, useDbOptions);